<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta name="baidu-site-verification" content="code-L413BKVJUv" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/user/img/logo.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>SpringBoot学习示例—整合Redis之StringRedisTemplate、乐观锁、事务(附完整项目代码) - 微服务与架构师社区</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet"/>
    <link href="/user/css/style.min.css" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
       

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jantent/assets/js/lock.js"></script>
    
    
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/jantent/assets/js/amazeui.min.js"></script>
    <script src="/jantent/assets/js/readmore.js"></script>
    <script src="/jantent/assets/js/readmore.min.js"></script>
    <link rel="stylesheet" href="/jantent/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/jantent/assets/css/app.css"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
        .index-page>div>div{
		  position: relative;
		}
		.settop{
		  position: absolute;
		  right: -16px !important;
		  top: -30px !important;
		}
    </style>
</head>

<script type="text/javascript">

document.write(unescape("%3Cspan id='cnzz_stat_icon_1279171775'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279171775%26online%3D1' type='text/javascript'%3E%3C/script%3E"));
document.getElementById("cnzz_stat_icon_1279171775").style.display="none";//隐藏

</script>

<body  gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" style="background-color: rgba(0,0,0,0.1);" class="header bg-white">
    <div class="navbar-container" >
        <a href="/page/1" class="navbar-logo">微服务与架构师社区</a>


        <div class="navbar-menu" >        

            <a style="color: #fff" href="/archives">归档</a>
            <a style="color: #fff" href="/links">友链</a> 
            <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>-->
            <!--<a  style="color: #fff"  th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/article/about-me'}">
            	关于</a>
            -->
            <a  style="color: #fff"  href="http://bittechblog.com/article/about-me">
            	关于</a>
            
            <!--
            <div class="am-dropdown" data-am-dropdown style="color: #fff">
                <button style="color: #fff"  class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle >Redis<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content ">
                    <li><a href="#" >Redis主从模式</a></li>
                    <li><a href="#" >Redis哨兵模式</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#" >Redis集群模式</a></li>
                </ul>
		    </div>
		    -->
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a style="color: #fff" href="/archives">归档</a></li>
                <li><a style="color: #fff" href="/links">友链</a></li>
                <li>
                <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>
                -->
	                <a  style="color: #fff"  href="http://localhost:8081/article/about-me">
	            	关于</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="background:#87CEFA;color:#FFF;width:100%" class="container" >
            
        <div style="background:#87CEFA;color:#FFF" class="navbar-container" >
        	<nav class="site-header-nav" role="navigation">
        
	        	<div class="navbar-menu" >      
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/"
		                   target="_self"
		                   title="首页">首页
		                </a>
		                
		            </div>
		            
<!-- 		            <div class=" site-header-nav-item hvr-underline-from-center"> -->
<!-- 		                <a href="/article/23" -->
<!-- 		                   target="_self" -->
<!-- 		                   title="新基建与数字化转型">新基建与数字化转型 -->
<!-- 		                </a> -->
<!-- 		            </div> -->
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/1"
		                   target="_self"
		                   title="Java架构师方案宝典">Java架构师方案宝典
		                </a>
		                
		            </div>
		            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/5"
		                   target="_self"
		                   title="Spring Boot">
		                    Spring Boot
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Boot</a></li>
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Cloud</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/tag/2"
		                   target="_self"
		                   title="Java">
		                    Java
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Jvm 系列文章</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Java 极客技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/16"
		                   target=""
		                   title="Redis">
		                    Redis
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Python 教程</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Python 技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/archives"
		                   target="_self"
		                   title="Archives">
		                    Archives
		                </a>
		                
		            </div>
		            	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/index"
		                   target="_self"
		                   title="登录/注册">
		                   	     登录/注册
		                </a>
		                
		            </div>
		           
		        </div>
        	</nav>
        	
		</div>
	</div>
</header>
</body>
</html>
<html lang="en">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #FFFFFF;">        
            <h1>SpringBoot学习示例—整合Redis之StringRedisTemplate、乐观锁、事务(附完整项目代码)</h1>
            <br/>
            <span class="meta-info" style="color: #FFFFFF;" >
                <span class="octicon octicon-calendar"></span> 
            	作者：空白
            	
 				
                	<p><time datetime="2020-10-18" itemprop="datePublished">Time: 2020-10-18</time></p>
            	
            </span>
        </div>
    </div>
</section>
</body>
</html>

<style>

.maskImg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	display: block;
	z-index: 999999999;
	cursor:pointer;
}

.qrcodeMask{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	display: block;
	z-index: 10000000;
	margin-top: 325px;
	background: rgba(0,0,0,.5);
}

.lock {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.asb-post-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10000;
    margin-bottom: 0;
}

.asb-post-01 .mask {
    height: 240px;
    width: 100%;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0)), to(#fff));
}
.asb-post-01 .info {
	background: white;
	height: 510px;
	text-align: center;
}
</style>


<script type="text/javascript">
//DOM 完全就绪时执行
var $article = $("div.post-content");
var $qrcodeMask = $("div.qrcodeMask");
var article = $article[0], height = 0;
var halfHeight = 0;
var token = getToken();

//循环三分钟，如果想要结果可查看
var timesRun = 0;

$(function() {
    // 找到文章所在的容器
    var top = 0;
    var $article = $("div.post-content");
    if ($article.length > 0) {
        // 文章的实际高度
        article = $article[0], height = article.clientHeight;
        console.log(article);
        // 文章隐藏后的高度
        halfHeight = height * 0.5;
        top = halfHeight;
        $article.css('height', halfHeight  + 'px');
        $article.addClass('lock');
    }
    

    var $guanzhu = $("div.asb-post-01");
    $guanzhu.css('top', top + 25 + 'px');//二维码在文章页面的绝对位置 计算值
    
    token = getToken();
    $('span.token').html(token);
    
    refresh();

});


function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2)
        return parts.pop().split(";").shift();
}

function getToken() {
    let value = getCookie('UM_distinctid');
    if (!value) {
        return defaultToken;
    }
    return value.substring(value.length - 6).toUpperCase();
}

var _lock = function() {

	var $article = $("div.post-content");
    $article.css('height', halfHeight  + 'px');
    $article.addClass('lock');
    $('.asb-post-01').css('display', 'block');
}

var _unlock = function() {

	var $article = $("div.post-content");
    $article.css('height', 'initial');
    $article.removeClass('lock');
    $('.asb-post-01').css('display', 'none');
}

// 查询后端的结果
function _detect(){
    console.log('Detecting Token', token);
    $.ajax({
        url : 'http://bittechblog.com/roncopay/wx/check/isSubscribe',
        method : 'POST',
        data : {
            'token' : token
        },
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded', // application/json
        success : function(data) {
            console.log('locked', data.locked);

            if (data.locked === true) {
                _lock();
            } else {
                _unlock();
                timesRun = 9;//停止定时任务
            }
        },
        error : function(data) {
            _unlock();
            timesRun = 9;//停止定时任务
        }
    })
}

function interval(){
  var interval_ = setInterval(function(){
	    timesRun += 1;
	    if(timesRun === 10){    
	        clearInterval(interval_);
	        document.getElementById("qrcodeMask").style.visibility="visible";
	    }
	    _detect();
	    //do whatever here..
	}, 3000);
}
  
//点击刷新
function refresh(){
	timesRun = 0;
	document.getElementById("qrcodeMask").style.visibility="hidden"; 
    interval();
}
    
    
</script>

<body>
<div>
<article class="main-content post-page">
    <div id="post-content"  class="post-content"><ul>
<li>
<p><font size=4><a href="#1"><strong>1. 前言</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#2"><strong>2. 整合Redis快速入门</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#3"><strong>3. StringRedisTemplate基本操作及测试</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#4"><strong>4. 实现Redis事务</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#5"><strong>5. Redis乐观锁(分布式锁）</strong></a></font></p>
</li>
</ul>
<p><a name="1"><font  size=4 face="黑体"><strong>1. 前言</strong></font></a></p>
<p>这篇文章你能学到，SpringBoot整合Redis的最简单方式，不需要任何复杂的配置。还有完整的乐观锁，分布式锁，事务等实现样例代码供你选择。</p>
<p><a name="2"><font  size=4 face="黑体"><strong>2. 整合Redis快速入门</strong></font></a></p>
<p><strong>SpringBoot项目引入redis依赖</strong></p>
<pre><code class="language-js">&lt;!-- 引入 redis 依赖 --&gt;
&lt;dependency&gt;
    &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
    &lt;artifactId&gt;spring-boot-starter-data-redis&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
    &lt;groupId&gt;redis.clients&lt;/groupId&gt;
    &lt;artifactId&gt;jedis&lt;/artifactId&gt;
&lt;/dependency&gt;
&lt;dependency&gt;
    &lt;groupId&gt;org.springframework.data&lt;/groupId&gt;
    &lt;artifactId&gt;spring-data-redis&lt;/artifactId&gt;
&lt;/dependency&gt;
</code></pre>
<p><strong>redis配置</strong></p>
<p>springboot项目默认使用StringRedisTemplate，StringRedisTemplate和RedisTemplate不同，前者比较简单，只需要配置redis参数就行。</p>
<p>第一种</p>
<p>在application.yml文件中配置下面的参数。</p>
<pre><code class="language-js">spring:
    redis:
        #redis数据库地址
        host: localhost
        port: 6379
        password: 
        timeout: 1000
        #redis数据库索引，默认0
        database: 1
</code></pre>
<p>第二种</p>
<p>在application.properties文件中配置下面的参数。</p>
<pre><code class="language-js"># REDIS (RedisProperties)
# Redis数据库索引（默认为0）
spring.redis.database=0
# Redis服务器地址
spring.redis.host=localhost
# Redis服务器连接端口
spring.redis.port=6379
# Redis服务器连接密码（默认为空）
spring.redis.password=
# 连接池最大连接数（使用负值表示没有限制）
spring.redis.jedis.pool.max-active=8
# 连接池最大阻塞等待时间（使用负值表示没有限制）
spring.redis.jedis.pool.max-wait=-1
# 连接池中的最大空闲连接
spring.redis.jedis.pool.max-idle=8
# 连接池中的最小空闲连接
spring.redis.jedis.pool.min-idle=0
# 连接超时时间（毫秒）
spring.redis.timeout=5000
</code></pre>
<p><strong>使用StringRedisTemplate</strong></p>
<p>直接在service实现类中注入StringRedisTemplate。</p>
<pre><code class="language-js">@Autowired
private StringRedisTemplate redisTemplate;
</code></pre>
<p>到这里，我们项目就能正常使用redis服务了,只需这样简单的两个配置。</p>
<p><a name="3"><font  size=4 face="黑体"><strong>3. StringRedisTemplate基本操作及测试</strong></font></a></p>
<p><strong>Redis基本操作测试类RedisOperation</strong></p>
<p>启动测试demo，RedisOperation类基本命令测试方法自动运行。RedisOperation实现了Spring接口ApplicationRunner，测试代码放在run方法中。读者可以查看demo项目。</p>
<pre><code class="language-js">
测试set , get 操作 

测试队列的 lpush , lpop , llen 等 操作 

key stringRedisTemplate 的value为：stringRedisTemplate
stringRedisTemplateList队列长度：9
测试过期设置 操作 

设置stringRedisTemplate 过期时间3s 
休眠两秒。。
检测key  stringRedisTemplate 是否过期：-2( -2 代表 key过期已不存在)
•The command returns -2 if the key does not exist.
•The command returns -1 if the key exists but has no associated expire.

其他命令测试：
resultSet:[22, 33, 44]
resultSet1:[1, 2, 3]
redisList----1
size----2
leftPop----4
rightPop----3
range----[]
range1----[]
remove----0
</code></pre>
<p><a name="4"><font  size=4 face="黑体"><strong>4. 实现Redis事务</strong></font></a></p>
<p>事务的实现需要Redis的3个命令：watch multi exec 。</p>
<p><strong>redis命令</strong></p>
<p>watch：用于监视一个(或多个) key ，如果在事务执行之前这个(或这些) key 被其他命令所改动，那么事务将被打断。</p>
<p>multi：用于标记一个事务块的开始。事务块内的多条命令会按照先后顺序被放进一个队列当中，最后由 EXEC 命令原子性(atomic)地执行。</p>
<p>exec：执行所有事务块内的命令。</p>
<p><strong>代码实现</strong></p>
<pre><code class="language-js">/*
 * 实现并测试Redis事务
 */
public void testTransaction() {
	stringRedisTemplate.setEnableTransactionSupport(true);
    try {
        stringRedisTemplate.multi();//开启事务
        stringRedisTemplate.opsForValue().increment(&quot;transaction&quot;, 1);
        
        if(true)
        throw new Exception();
        
        stringRedisTemplate.opsForValue().increment(&quot;transaction2&quot;, 2);
        //提交
        stringRedisTemplate.exec();
    }catch (Exception e){
        System.out.println(&quot;redis事务回滚了&quot;);
        //开启回滚
        stringRedisTemplate.discard();
    }
}
</code></pre>
<p><strong>测试结果</strong></p>
<p>transaction的value值没有变，还是1。</p>
<pre><code class="language-js">测试redis事务回滚############################################
【执行前】事务key transaction:1
【执行前】事务key transaction2:1
redis事务回滚
【执行后】事务key transaction:1
【执行后】事务key transaction2:1
redis事务测试结果：transaction的value值没变 ，自增操作回滚了
</code></pre>
<p>分析：transaction的的increment操作并没有成功，说明redis事务测试成功。</p>
<p><a name="5"><font  size=4 face="黑体"><strong>5. Redis乐观锁(分布式锁）</strong></font></a></p>
<p>Redis实现乐观锁，是基于Redis事务实现的。在这里，乐观锁思想体现在：谁先修改了key的值，谁就执行成功，后修改的事务会watch到key的变更而回滚事务，执行失败。从这个逻辑上看，就完全符合乐观锁的思想。</p>
<p>同时，运行在不同的客户端，这也是分布式锁，我们只需要将这段乐观锁逻辑做个升级改造：如果锁获取失败，则循环重复执行这段抢锁逻辑，直至获取成功或超时。这个升级的逻辑，读者可以自由发挥。</p>
<p><strong>代码实现</strong></p>
<pre><code class="language-js">/*
 * 实现乐观锁，乐观锁是依据redis事务实现的
 */
public Object testRedisOptismLock(String value) {

    try {
    	stringRedisTemplate.watch(&quot;OptismLock&quot;); // 1
    	stringRedisTemplate.multi();
    	stringRedisTemplate.boundValueOps(&quot;OptismLock&quot;).set(value);
    	
    	TimeUnit.SECONDS.sleep(4);
    	
    	List&lt;Object&gt; list= stringRedisTemplate.exec();
    	System.out.println(list);
    	if(list != null&amp;&amp;!list.isEmpty() ){
    	    //操作成功
    	    System.out.println(value+&quot;值设置成功&quot;);
    	}else{
    	    //操作失败
    	    System.out.println(value+&quot;值设置失败&quot;);
    	}
    } catch (Exception e) {
        e.printStackTrace();
    }

    //自增
    num.incrementAndGet();
    
    return null;
}
</code></pre>
<p><strong>测试结果</strong></p>
<p>测试代码可以查看demo项目的RedisOperation类</p>
<pre><code class="language-js">乐观锁测试############################################
乐观锁测试中，再等待1s
乐观锁测试中，再等待1s
乐观锁测试中，再等待1s
乐观锁测试中，再等待1s
乐观锁测试中，再等待1s
[]
[true]
task1值设置失败
[]
task2值设置失败
task3值设置成功
乐观锁测试过后key的结果：task3
</code></pre>
<p>完整的demo项目，请关注公众号“前沿科技bot“并发送&quot;StringRedisTemplate&quot;获取。</p>
<p><img src="/upload/2020/05/6s8d58g77ehftpcen62h4v4bss.png" alt="alt" /></p>
</div>
    <div id="guanzhu" class= "asb-post-01"  style="display:block">
    		<div class ="mask"></div>
    		<div class="info">
			        <div>扫码或搜索：<span style="color: #E9405A; font-weight: bold;">前沿科技</span></div>
			        <div>
			            <span>发送 </span><span class="token" style="color: #e9415a; font-weight: bold; font-size: 17px; margin-bottom: 45px;">290992</span>
			        </div>
			        <div>
			           	 即可<span style="color: #e9415a; font-weight: bold;">立即永久</span>解锁本站全部文章
			        </div>
				    <div>
				        <img class="code-img" style="width: 300px;display:unset" src="http://bittechblog.com/upload/2020/09/of9o9sfuumiego54aepd7dq05b.jpg">
				        <div class="qrcodeMask" id="qrcodeMask">
							<img src="http://bittechblog.com/upload/2020/11/v1er4cnlt2j5joun03bo53b5vk.png" class="maskImg" onclick="refresh()">
						</div>
				    </div>
				    <div style="height:500px;"></div>
			</div>
    </div>
</article>
</div>
<html lang="en">
<body>
<div>
    <div id="107" class="comment-container">
        <div id="comments" class="clearfix">
            <div>
                <span class="response">
                
            </span>
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" value="107"/>
                    <input type="hidden" name="_csrf_token" value=""/>
                    <input type="text" name="author" maxlength="12" id="author"
                           class="form-control input-control clearfix"
                           placeholder="姓名 (*)"
                    />
                    <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                           placeholder="邮箱 (*)"
                    />
                    <input type="url" name="url" id="url" class="form-control input-control clearfix"
                           placeholder="网址 (http://)"
                    />
                    <textarea name="text" id="textarea" class="form-control" placeholder="以上信息可以为空,评论不能为空哦!"
                              required="required" minlength="5"
                              maxlength="2000"></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            

            <div>
                <ol class="comment-list">
                    
                </ol>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        
                        
                        
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html lang="en">
<body>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
        window.TaleComment = {
            dom: function (id) {
                return document.getElementById(id);
            },
            create: function (tag, attr) {
                var el = document.createElement(tag);
                for (var key in attr) {
                    el.setAttribute(key, attr[key]);
                }
                return el;
            },
            reply: function (coid) {
                $('#comment-form input[name=coid]').val(coid);
                $("html,body").animate({scrollTop: $('div.comment-container').offset().top}, 500);
                $('#comment-form #textarea').focus();
            },
            subComment: function () {
                $.ajax({
                    type: 'post',
                    url: '/comment',
                    data: $('#comment-form').serialize(),
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        $('#comment-form input[name=coid]').val('');
                        if (result && result.success) {
                            alert("评论已提交至后台审核!");
                            window.location.reload();
                        } else {
                            if (result.msg) {
                                alert(result.msg);
                            }
                        }
                    }
                });
                return false;
            }
        };
    })();
    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(decodeURI(arr[2]));
        else
            return null;
    }
    function addCommentInputValue() {
        document.getElementById('author').value = getCommentCookie('tale_remember_author');
        document.getElementById('mail').value = getCommentCookie('tale_remember_mail');
        document.getElementById('url').value = getCommentCookie('tale_remember_url');
    }
    addCommentInputValue();
    /*]]>*/
</script>
</body>
</html>
</html>
<html lang="en">
<body>
<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="/page/1"  style="display: block;margin: 0 auto;" class="info-logo">
                            <img style="display: block;margin: 0 auto;" src="/user/img/logo.png"/>
                        </a>
                        <br/>
                        <p >&copy; Powered by <a style="color: #0e90d2" href="https://github.com/wmsJackWang/JDKBlog" target="_blank"
                                          rel="nofollow">JDKBlog</a>
                        </p>
                        <p> 喜欢就去github上点个star吧 </p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <script>
        /*<![CDATA[*/
        var postDirectoryBuild = function () {
            var postChildren = function children(childNodes, reg) {
                        var result = [],
                                isReg = typeof reg === 'object',
                                isStr = typeof reg === 'string',
                                node, i, len;
                        for (i = 0, len = childNodes.length; i < len; i++) {
                            node = childNodes[i];
                            if ((node.nodeType === 1 || node.nodeType === 9) &&
                                    (!reg ||
                                    isReg && reg.test(node.tagName.toLowerCase()) ||
                                    isStr && node.tagName.toLowerCase() === reg)) {
                                result.push(node);
                            }
                        }
                        return result;
                    },
                    createPostDirectory = function (article, directory, isDirNum) {
                        var contentArr = [],
                                titleId = [],
                                levelArr, root, level,
                                currentList, list, li, link, i, len;
                        levelArr = (function (article, contentArr, titleId) {
                            var titleElem = postChildren(article.childNodes, /^h\d$/),
                                    levelArr = [],
                                    lastNum = 1,
                                    lastRevNum = 1,
                                    count = 0,
                                    guid = 1,
                                    id = 'directory' + (Math.random() + '').replace(/\D/, ''),
                                    lastRevNum, num, elem;
                            while (titleElem.length) {
                                elem = titleElem.shift();
                                contentArr.push(elem.innerHTML);
                                num = +elem.tagName.match(/\d/)[0];
                                if (num > lastNum) {
                                    levelArr.push(1);
                                    lastRevNum += 1;
                                } else if (num === lastRevNum ||
                                        num > lastRevNum && num <= lastNum) {
                                    levelArr.push(0);
                                    lastRevNum = lastRevNum;
                                } else if (num < lastRevNum) {
                                    levelArr.push(num - lastRevNum);
                                    lastRevNum = num;
                                }
                                count += levelArr[levelArr.length - 1];
                                lastNum = num;
                                elem.id = elem.id || (id + guid++);
                                titleId.push(elem.id);
                            }
                            if (count !== 0 && levelArr[0] === 1) levelArr[0] = 0;

                            return levelArr;
                        })(article, contentArr, titleId);
                        currentList = root = document.createElement('ul');
                        dirNum = [0];
                        for (i = 0, len = levelArr.length; i < len; i++) {
                            level = levelArr[i];
                            if (level === 1) {
                                list = document.createElement('ul');
                                if (!currentList.lastElementChild) {
                                    currentList.appendChild(document.createElement('li'));
                                }
                                currentList.lastElementChild.appendChild(list);
                                currentList = list;
                                dirNum.push(0);
                            } else if (level < 0) {
                                level *= 2;
                                while (level++) {
                                    if (level % 2) dirNum.pop();
                                    currentList = currentList.parentNode;
                                }
                            }
                            dirNum[dirNum.length - 1]++;
                            li = document.createElement('li');
                            link = document.createElement('a');
                            link.href = '#' + titleId[i];
                            link.innerHTML = !isDirNum ? contentArr[i] :
                            dirNum.join('.') + ' ' + contentArr[i];
                            li.appendChild(link);
                            currentList.appendChild(li);
                        }
                        directory.appendChild(root);
                    };
            createPostDirectory(document.getElementById('post-content'), document.getElementById('directory'), true);
        };
        postDirectoryBuild();
        /*]]>*/
    </script>


<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script>
    /*<![CDATA[*/
    var isOk = true;
    if (isOk) {
        var postDirectory = new Headroom(document.getElementById("directory-content"), {
            tolerance: 0,
            offset: 100,
            classes: {
                initial: "initial",
                pinned: "pinned",
                unpinned: "unpinned"
            }
        });
    }


    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key == 13) {
            var q = $(this).val();
            if (q && q != '') {
                window.location.href = '/search/' + q;
            }
        }
    });
    /*]]>*/
</script>
<script data-no-instant="">
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>
</body>
</html>