<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta name="baidu-site-verification" content="code-L413BKVJUv" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/user/img/logo.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>Java架构师方案—分布式事务2PC方案Atomikos(附完整项目代码) - 微服务与架构师社区</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet"/>
    <link href="/user/css/style.min.css" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
       

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jantent/assets/js/lock.js"></script>
    
    
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/jantent/assets/js/amazeui.min.js"></script>
    <script src="/jantent/assets/js/readmore.js"></script>
    <script src="/jantent/assets/js/readmore.min.js"></script>
    <link rel="stylesheet" href="/jantent/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/jantent/assets/css/app.css"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
        .index-page>div>div{
		  position: relative;
		}
		.settop{
		  position: absolute;
		  right: -16px !important;
		  top: -30px !important;
		}
    </style>
</head>

<script type="text/javascript">

document.write(unescape("%3Cspan id='cnzz_stat_icon_1279171775'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279171775%26online%3D1' type='text/javascript'%3E%3C/script%3E"));
document.getElementById("cnzz_stat_icon_1279171775").style.display="none";//隐藏

</script>

<body  gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" style="background-color: rgba(0,0,0,0.1);" class="header bg-white">
    <div class="navbar-container" >
        <a href="/page/1" class="navbar-logo">微服务与架构师社区</a>


        <div class="navbar-menu" >        

            <a style="color: #fff" href="/archives">归档</a>
            <a style="color: #fff" href="/links">友链</a> 
            <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>-->
            <!--<a  style="color: #fff"  th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/article/about-me'}">
            	关于</a>
            -->
            <a  style="color: #fff"  href="http://bittechblog.com/article/about-me">
            	关于</a>
            
            <!--
            <div class="am-dropdown" data-am-dropdown style="color: #fff">
                <button style="color: #fff"  class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle >Redis<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content ">
                    <li><a href="#" >Redis主从模式</a></li>
                    <li><a href="#" >Redis哨兵模式</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#" >Redis集群模式</a></li>
                </ul>
		    </div>
		    -->
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a style="color: #fff" href="/archives">归档</a></li>
                <li><a style="color: #fff" href="/links">友链</a></li>
                <li>
                <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>
                -->
	                <a  style="color: #fff"  href="http://localhost:8081/article/about-me">
	            	关于</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="background:#87CEFA;color:#FFF;width:100%" class="container" >
            
        <div style="background:#87CEFA;color:#FFF" class="navbar-container" >
        	<nav class="site-header-nav" role="navigation">
        
	        	<div class="navbar-menu" >      
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/"
		                   target="_self"
		                   title="首页">首页
		                </a>
		                
		            </div>
		            
<!-- 		            <div class=" site-header-nav-item hvr-underline-from-center"> -->
<!-- 		                <a href="/article/23" -->
<!-- 		                   target="_self" -->
<!-- 		                   title="新基建与数字化转型">新基建与数字化转型 -->
<!-- 		                </a> -->
<!-- 		            </div> -->
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/1"
		                   target="_self"
		                   title="Java架构师方案宝典">Java架构师方案宝典
		                </a>
		                
		            </div>
		            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/5"
		                   target="_self"
		                   title="Spring Boot">
		                    Spring Boot
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Boot</a></li>
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Cloud</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/tag/2"
		                   target="_self"
		                   title="Java">
		                    Java
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Jvm 系列文章</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Java 极客技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/16"
		                   target=""
		                   title="Redis">
		                    Redis
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Python 教程</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Python 技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/archives"
		                   target="_self"
		                   title="Archives">
		                    Archives
		                </a>
		                
		            </div>
		            	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/index"
		                   target="_self"
		                   title="登录/注册">
		                   	     登录/注册
		                </a>
		                
		            </div>
		           
		        </div>
        	</nav>
        	
		</div>
	</div>
</header>
</body>
</html>
<html lang="en">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #FFFFFF;">        
            <h1>Java架构师方案—分布式事务2PC方案Atomikos(附完整项目代码)</h1>
            <br/>
            <span class="meta-info" style="color: #FFFFFF;" >
                <span class="octicon octicon-calendar"></span> 
            	作者：空白
            	
 				
                	<p><time datetime="2020-07-11" itemprop="datePublished">Time: 2020-07-11</time></p>
            	
            </span>
        </div>
    </div>
</section>
</body>
</html>

<style>

.maskImg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	display: block;
	z-index: 999999999;
	cursor:pointer;
}

.qrcodeMask{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	display: block;
	z-index: 10000000;
	margin-top: 325px;
	background: rgba(0,0,0,.5);
}

.lock {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.asb-post-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10000;
    margin-bottom: 0;
}

.asb-post-01 .mask {
    height: 240px;
    width: 100%;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0)), to(#fff));
}
.asb-post-01 .info {
	background: white;
	height: 510px;
	text-align: center;
}
</style>


<script type="text/javascript">
//DOM 完全就绪时执行
var $article = $("div.post-content");
var $qrcodeMask = $("div.qrcodeMask");
var article = $article[0], height = 0;
var halfHeight = 0;
var token = getToken();

//循环三分钟，如果想要结果可查看
var timesRun = 0;

$(function() {
    // 找到文章所在的容器
    var top = 0;
    var $article = $("div.post-content");
    if ($article.length > 0) {
        // 文章的实际高度
        article = $article[0], height = article.clientHeight;
        console.log(article);
        // 文章隐藏后的高度
        halfHeight = height * 0.5;
        top = halfHeight;
        $article.css('height', halfHeight  + 'px');
        $article.addClass('lock');
    }
    

    var $guanzhu = $("div.asb-post-01");
    $guanzhu.css('top', top + 25 + 'px');//二维码在文章页面的绝对位置 计算值
    
    token = getToken();
    $('span.token').html(token);
    
    refresh();

});


function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2)
        return parts.pop().split(";").shift();
}

function getToken() {
    let value = getCookie('UM_distinctid');
    if (!value) {
        return defaultToken;
    }
    return value.substring(value.length - 6).toUpperCase();
}

var _lock = function() {

	var $article = $("div.post-content");
    $article.css('height', halfHeight  + 'px');
    $article.addClass('lock');
    $('.asb-post-01').css('display', 'block');
}

var _unlock = function() {

	var $article = $("div.post-content");
    $article.css('height', 'initial');
    $article.removeClass('lock');
    $('.asb-post-01').css('display', 'none');
}

// 查询后端的结果
function _detect(){
    console.log('Detecting Token', token);
    $.ajax({
        url : 'http://bittechblog.com/roncopay/wx/check/isSubscribe',
        method : 'POST',
        data : {
            'token' : token
        },
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded', // application/json
        success : function(data) {
            console.log('locked', data.locked);

            if (data.locked === true) {
                _lock();
            } else {
                _unlock();
                timesRun = 9;//停止定时任务
            }
        },
        error : function(data) {
            _unlock();
            timesRun = 9;//停止定时任务
        }
    })
}

function interval(){
  var interval_ = setInterval(function(){
	    timesRun += 1;
	    if(timesRun === 10){    
	        clearInterval(interval_);
	        document.getElementById("qrcodeMask").style.visibility="visible";
	    }
	    _detect();
	    //do whatever here..
	}, 3000);
}
  
//点击刷新
function refresh(){
	timesRun = 0;
	document.getElementById("qrcodeMask").style.visibility="hidden"; 
    interval();
}
    
    
</script>

<body>
<div>
<article class="main-content post-page">
    <div id="post-content"  class="post-content"><ul>
<li>
<p><font size=4><a href="#1"><strong>1. 分布式事务2PC原理</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#2"><strong>2. springboot集成Atomikos</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#3"><strong>3. 2PC分布式事务的问题局限性</strong></a></font></p>
</li>
</ul>
<p><a name="1"><font  size=4 face="黑体"><strong>1. 分布式事务2PC原理</strong></font></a></p>
<p><font  size=3 ><strong>事务有哪些基本特性（ACID）？</strong></font></p>
<ul>
<li>
<p>原子性：一个业务过程中，事务内的多个数据变更操作要么全部成功，要么全部失败。</p>
</li>
<li>
<p>一致性：指的是业务的正确性，业务数据的一致性；例如，银行转账业务，从账户A转10元到账户B，最后结果肯定是B账户多了10元，A账户少了10元；不能出现A金额没少但B金额多了的结果。</p>
</li>
<li>
<p>隔离性：多个并发事务之间相互隔离，不能互相干扰。简单提一下事务的隔离机制和事务并发引起的问题</p>
<ul>
<li>
<p>隔离机制：读未提交，读已提交，可重复读，顺序读写</p>
</li>
<li>
<p>事务并发问题：脏读，幻读（虚读），不可重复读。</p>
</li>
</ul>
</li>
<li>
<p>持久性：事务完成后，对数据库的更改是永久保存的，不能回滚。</p>
</li>
</ul>
<p><font  size=3 >** 什么是2PC？**</font></p>
<p>两阶段提交(two phrase commit），不言而喻，是指分布式事务工作流程分为两个阶段。对于单体架构的单个数据库的事务，我们会开启事务管理器，并在需要事务的方法上声明事务注解并确定事务元数据，本地事务是基于数据库资源层实现。</p>
<p>2PC分布式事务解决方案，是基于资源层来实现，其中两个阶段分别是：预备阶段，提交阶段。</p>
<ul>
<li>
<p>预备阶段：数据库开启事务，执行业务sql，但是数据库事务并没有提交，而是等待事务协调器commit命令或rollback命令。</p>
</li>
<li>
<p>提交阶段：数据库收到commit命令后提交事务，或者收到rollback命令后回滚数据库。</p>
</li>
</ul>
<p>两阶段提交方案中，有两种角色：事务协调者和事务参与者。</p>
<ul>
<li>
<p>事务协调者：协调者角色主要负责协调不同数据库事务执行情况，保证跨数据库业务中事务的原子性，事务协调者根据预备阶段的的执行情况，来决定提交阶段发送commit命令还是rollback命令。</p>
</li>
<li>
<p>事务参与者：事务参与者主要是指资源层的数据库，数据库要支持两阶段提交分布式事务方案，必须要实现XA协议。</p>
</li>
</ul>
<p>参考流程图如下：</p>
<p><img src="/upload/2020/05/og4l6kmm22gblpi198ud3npelg.png" alt="alt" /></p>
<p>状态图分析：</p>
<ul>
<li>
<p>事务协调者：预备阶段，协调者发送预备命令给参与者，并进入等待状态，直到返回执行结果。</p>
</li>
<li>
<p>事务参与者：执行完预备阶段，返回协调者执行结果后进入等待状态，直到协调者最后发送的提交或回滚命令。</p>
</li>
<li>
<p>协调者判断：协调者收集到所有的参与者返回的结果后，判断所有结果是否都是成功，成功则发送给所有参与者提交命令，否则发送回滚命令。</p>
</li>
</ul>
<p><a name="2"><font  size=4 face="黑体"><strong>2. springboot集成Atomikos</strong></font></a></p>
<p><font  size=3 ><strong>配置数据库参数</strong></font></p>
<p>在properties文件中配置两个不同的数据库参数</p>
<pre><code class="language-js">##Spring表数据库配置
spring.jta.atomikos.datasource.spring.max-pool-size=25
spring.jta.atomikos.datasource.spring.min-pool-size=3
spring.jta.atomikos.datasource.spring.max-lifetime=20000
spring.jta.atomikos.datasource.spring.borrow-connection-timeout=10000
spring.jta.atomikos.datasource.spring.unique-resource-name=spring
spring.jta.atomikos.datasource.spring.xa-properties.url=jdbc:mysql://url2:3306/spring?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;serverTimezone=UTC
spring.jta.atomikos.datasource.spring.xa-properties.username=xxx
spring.jta.atomikos.datasource.spring.xa-properties.password=xxx
spring.jta.atomikos.datasource.spring.xa-properties.driverClassName=com.mysql.jdbc.Driver
# 初始化大小，最小，最大
spring.jta.atomikos.datasource.spring.xa-properties.initialSize=10
spring.jta.atomikos.datasource.spring.xa-properties.minIdle=20
spring.jta.atomikos.datasource.spring.xa-properties.maxActive=100
## 配置获取连接等待超时的时间
spring.jta.atomikos.datasource.spring.xa-properties.maxWait=60000
# 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
spring.jta.atomikos.datasource.spring.xa-properties.timeBetweenEvictionRunsMillis=60000
# 配置一个连接在池中最小生存的时间，单位是毫秒
spring.jta.atomikos.datasource.spring.xa-properties.minEvictableIdleTimeMillis=300000
spring.jta.atomikos.datasource.spring.xa-properties.testWhileIdle=true
spring.jta.atomikos.datasource.spring.xa-properties.testOnBorrow=false
spring.jta.atomikos.datasource.spring.xa-properties.testOnReturn=false
# 打开PSCache，并且指定每个连接上PSCache的大小
spring.jta.atomikos.datasource.spring.xa-properties.poolPreparedStatements=true
spring.jta.atomikos.datasource.spring.xa-properties.maxPoolPreparedStatementPerConnectionSize=20
# 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
spring.jta.atomikos.datasource.spring.xa-properties.filters=stat,slf4j,wall
spring.jta.atomikos.datasource.spring.xa-data-source-class-name=com.alibaba.druid.pool.xa.DruidXADataSource
#------------------------------ 分隔符-------------------------------------
##test表数据库配置
spring.jta.atomikos.datasource.test.max-pool-size=25
spring.jta.atomikos.datasource.test.min-pool-size=3
spring.jta.atomikos.datasource.test.max-lifetime=20000
spring.jta.atomikos.datasource.test.borrow-connection-timeout=10000
spring.jta.atomikos.datasource.test.unique-resource-name=test
spring.jta.atomikos.datasource.test.xa-properties.url=jdbc:mysql://url1:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false&amp;serverTimezone=UTC
spring.jta.atomikos.datasource.test.xa-properties.username=xxx
spring.jta.atomikos.datasource.test.xa-properties.password=xxx
spring.jta.atomikos.datasource.test.xa-properties.driverClassName=com.mysql.jdbc.Driver
spring.jta.atomikos.datasource.test.xa-properties.initialSize=10
spring.jta.atomikos.datasource.test.xa-properties.minIdle=20
spring.jta.atomikos.datasource.test.xa-properties.maxActive=100
spring.jta.atomikos.datasource.test.xa-properties.maxWait=60000
spring.jta.atomikos.datasource.test.xa-properties.timeBetweenEvictionRunsMillis=60000
spring.jta.atomikos.datasource.test.xa-properties.minEvictableIdleTimeMillis=300000
spring.jta.atomikos.datasource.test.xa-properties.testWhileIdle=true
spring.jta.atomikos.datasource.test.xa-properties.testOnBorrow=false
spring.jta.atomikos.datasource.test.xa-properties.testOnReturn=false
spring.jta.atomikos.datasource.test.xa-properties.poolPreparedStatements=true
spring.jta.atomikos.datasource.test.xa-properties.maxPoolPreparedStatementPerConnectionSize=20
# 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
spring.jta.atomikos.datasource.test.xa-properties.filters=stat,slf4j,wall
spring.jta.atomikos.datasource.test.xa-data-source-class-name=com.alibaba.druid.pool.xa.DruidXADataSource
#jta相关参数配置
#spring.jta.log-dir=classpath:transaction-logs
#spring.jta.transaction-manager-id=txManager
</code></pre>
<p><font  size=3 ><strong>两个数据源</strong></font></p>
<p>在配置类MybatisConfiguration中创建数据源bean：SpringDataSource和TestDataSource。</p>
<pre><code class="language-js">
@Configuration
@EnableConfigurationProperties
@EnableTransactionManagement(proxyTargetClass = true)
public class MybatisConfiguration {
    /**
     * spring数据库配置前缀.
     */
    final static String SPRING_PREFIX = &quot;spring.jta.atomikos.datasource.spring&quot;;
    /**
     * test数据库配置前缀.
     */
    final static String TEST_PREFIX = &quot;spring.jta.atomikos.datasource.test&quot;;

    /**
     * The constant logger.
     */
    final static Logger logger = LoggerFactory.getLogger(MybatisConfiguration.class);





    /**
     * 配置Spring数据库的数据源
     *
     * @return the data source
     */
    @Bean(name = &quot;SpringDataSource&quot;)
    @ConfigurationProperties(prefix = SPRING_PREFIX)  // application.properties中对应属性的前缀
    public DataSource springDataSource() {
        return new AtomikosDataSourceBean();
    }

    /**
     * 配置Test数据库的数据源
     *
     * @return the data source
     */
    @Bean(name = &quot;TestDataSource&quot;)
    @ConfigurationProperties(prefix = TEST_PREFIX)  // application.properties中对应属性的前缀
    public DataSource testDataSource() {
        return new AtomikosDataSourceBean();
    }
}
</code></pre>
<p><font  size=3 ><strong>两个Session工厂对象</strong></font></p>
<p>mybatis中重要的组件是Session工厂，每个数据库都有个固定的session工厂，应用与数据库交互前需要向对应的工厂申请资源。两个session工厂配置类分别生成两种不同数据库的session工厂。</p>
<pre><code class="language-js">@Configuration
@MapperScan(basePackages = {&quot;com.jta.mapper.spring&quot;}, sqlSessionFactoryRef = &quot;springSqlSessionFactory&quot;)
public class SpringDataSourceConfiguration {
    /**
     * The constant MAPPER_XML_LOCATION.
     */
    public static final String MAPPER_XML_LOCATION = &quot;classpath:mapper/spring/*.xml&quot;;

    /**
     * The Open plat form data source.
     */
    @Autowired
    @Qualifier(&quot;SpringDataSource&quot;)
    DataSource springDataSource;

    /**
     * 配置Sql Session模板
     *
     * @return the sql session template
     * @throws Exception the exception
     */
    @Bean
    public SqlSessionTemplate springSqlSessionTemplate() throws Exception {
        return new SqlSessionTemplate(springSqlSessionFactory());
    }

    /**
     * 配置SQL Session工厂
     *
     * @return the sql session factory
     * @throws Exception the exception
     */
    @Bean
    public SqlSessionFactory springSqlSessionFactory() throws Exception {
        SqlSessionFactoryBean factoryBean = new SqlSessionFactoryBean();
        factoryBean.setDataSource(springDataSource);
        //指定XML文件路径
        factoryBean.setMapperLocations(new PathMatchingResourcePatternResolver().getResources(MAPPER_XML_LOCATION));
        return factoryBean.getObject();
    }
}
</code></pre>
<p>另外一个session工厂配置类，请查看本项目完整代码。</p>
<p><font  size=3 ><strong>测试</strong></font></p>
<p>分布式事务测试，启动应用，使用postman进行测试。</p>
<p>在postman中输入地址：localhost:8080/insertPeopleAndUser?peopleName=jack&amp;userName=helloworld001，访问结果如图所示</p>
<p><img src="/upload/2020/07/vnj6rrft9qh90ru0uohjloelih.png" alt="alt" /></p>
<p>people数据插入失败，导致回滚了，验证user数据是否也成功回滚了？</p>
<p><img src="/upload/2020/07/3r9a2fhpasig3ra01uai6c3b0t.jpg" alt="alt" /></p>
<p>helloworld001数据没有插入user表。回滚成功！</p>
<p>到此，springboot项目就成功整合了Atomikos框架实现分布式事务的2PC方案，详细代码请参考我的完整项目。</p>
<p><a name="3"><font  size=4 face="黑体"><strong>3. 2PC分布式事务的问题及局限性</strong></font></a></p>
<p>性能低效：2PC方案的两种角色都会阻塞等待，直到返回执行结果或收到命令，事务锁会一直积压，导致数据库性能会非常差。</p>
<p>单点故障：事务协调者是整个XA模型的核心，一旦事务协调者节点挂掉，会导致参与者收不到提交或回滚的通知，从而导致参与者节点始终处于事务无法完成的中间状态。</p>
<p>数据不一致：第二个阶段，如果发生局部网络问题，一部分事务参与者收到了提交消息，另一部分事务参与者没收到提交消息，那么就会导致节点间数据的不一致问题。</p>
<p>对于2PC方案，是基于资源层的分布式事务解决方案，常用于单体应用操作不同数据库的场景。对于微服务架构就不适用了，大家选择方案的时候还要根据具体情况来做。</p>
<p>本文是有已经实现的完整项目，读者可以先收藏起来，以后可以拿来即用。关注“前沿科技“公众后，发送“两阶段提交“消息获得项目地址。</p>
<center><font  size=2><font color=red>转载这篇文章需要标注作者和出处：</font><font color=purple >空白-bittechblog</font></font></center>
<p>欢迎加入技术群：获得更多java，springboot，redis，kafka圈的好友，共图技术未来
<a href=“http://bittechblog.com/article/gongtushe-group“ target="_blank">点击获取技术群二维码 </a></p>
<p>还要配置状态转移信息以及事件处理器逻辑的开发。完整的demo项目，请关注公众号“前沿科技bot“并发送&quot;状态机&quot;获取。</p>
<p><img src="/upload/2020/05/6s8d58g77ehftpcen62h4v4bss.png" alt="alt" /></p>
</div>
    <div id="guanzhu" class= "asb-post-01"  style="display:block">
    		<div class ="mask"></div>
    		<div class="info">
			        <div>扫码或搜索：<span style="color: #E9405A; font-weight: bold;">前沿科技</span></div>
			        <div>
			            <span>发送 </span><span class="token" style="color: #e9415a; font-weight: bold; font-size: 17px; margin-bottom: 45px;">290992</span>
			        </div>
			        <div>
			           	 即可<span style="color: #e9415a; font-weight: bold;">立即永久</span>解锁本站全部文章
			        </div>
				    <div>
				        <img class="code-img" style="width: 300px;display:unset" src="http://bittechblog.com/upload/2020/09/of9o9sfuumiego54aepd7dq05b.jpg">
				        <div class="qrcodeMask" id="qrcodeMask">
							<img src="http://bittechblog.com/upload/2020/11/v1er4cnlt2j5joun03bo53b5vk.png" class="maskImg" onclick="refresh()">
						</div>
				    </div>
				    <div style="height:500px;"></div>
			</div>
    </div>
</article>
</div>
<html lang="en">
<body>
<div>
    <div id="80" class="comment-container">
        <div id="comments" class="clearfix">
            <div>
                <span class="response">
                
            </span>
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" value="80"/>
                    <input type="hidden" name="_csrf_token" value=""/>
                    <input type="text" name="author" maxlength="12" id="author"
                           class="form-control input-control clearfix"
                           placeholder="姓名 (*)"
                    />
                    <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                           placeholder="邮箱 (*)"
                    />
                    <input type="url" name="url" id="url" class="form-control input-control clearfix"
                           placeholder="网址 (http://)"
                    />
                    <textarea name="text" id="textarea" class="form-control" placeholder="以上信息可以为空,评论不能为空哦!"
                              required="required" minlength="5"
                              maxlength="2000"></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            

            <div>
                <ol class="comment-list">
                    
                </ol>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        
                        
                        
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html lang="en">
<body>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
        window.TaleComment = {
            dom: function (id) {
                return document.getElementById(id);
            },
            create: function (tag, attr) {
                var el = document.createElement(tag);
                for (var key in attr) {
                    el.setAttribute(key, attr[key]);
                }
                return el;
            },
            reply: function (coid) {
                $('#comment-form input[name=coid]').val(coid);
                $("html,body").animate({scrollTop: $('div.comment-container').offset().top}, 500);
                $('#comment-form #textarea').focus();
            },
            subComment: function () {
                $.ajax({
                    type: 'post',
                    url: '/comment',
                    data: $('#comment-form').serialize(),
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        $('#comment-form input[name=coid]').val('');
                        if (result && result.success) {
                            alert("评论已提交至后台审核!");
                            window.location.reload();
                        } else {
                            if (result.msg) {
                                alert(result.msg);
                            }
                        }
                    }
                });
                return false;
            }
        };
    })();
    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(decodeURI(arr[2]));
        else
            return null;
    }
    function addCommentInputValue() {
        document.getElementById('author').value = getCommentCookie('tale_remember_author');
        document.getElementById('mail').value = getCommentCookie('tale_remember_mail');
        document.getElementById('url').value = getCommentCookie('tale_remember_url');
    }
    addCommentInputValue();
    /*]]>*/
</script>
</body>
</html>
</html>
<html lang="en">
<body>
<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="/page/1"  style="display: block;margin: 0 auto;" class="info-logo">
                            <img style="display: block;margin: 0 auto;" src="/user/img/logo.png"/>
                        </a>
                        <br/>
                        <p >&copy; Powered by <a style="color: #0e90d2" href="https://github.com/wmsJackWang/JDKBlog" target="_blank"
                                          rel="nofollow">JDKBlog</a>
                        </p>
                        <p> 喜欢就去github上点个star吧 </p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <script>
        /*<![CDATA[*/
        var postDirectoryBuild = function () {
            var postChildren = function children(childNodes, reg) {
                        var result = [],
                                isReg = typeof reg === 'object',
                                isStr = typeof reg === 'string',
                                node, i, len;
                        for (i = 0, len = childNodes.length; i < len; i++) {
                            node = childNodes[i];
                            if ((node.nodeType === 1 || node.nodeType === 9) &&
                                    (!reg ||
                                    isReg && reg.test(node.tagName.toLowerCase()) ||
                                    isStr && node.tagName.toLowerCase() === reg)) {
                                result.push(node);
                            }
                        }
                        return result;
                    },
                    createPostDirectory = function (article, directory, isDirNum) {
                        var contentArr = [],
                                titleId = [],
                                levelArr, root, level,
                                currentList, list, li, link, i, len;
                        levelArr = (function (article, contentArr, titleId) {
                            var titleElem = postChildren(article.childNodes, /^h\d$/),
                                    levelArr = [],
                                    lastNum = 1,
                                    lastRevNum = 1,
                                    count = 0,
                                    guid = 1,
                                    id = 'directory' + (Math.random() + '').replace(/\D/, ''),
                                    lastRevNum, num, elem;
                            while (titleElem.length) {
                                elem = titleElem.shift();
                                contentArr.push(elem.innerHTML);
                                num = +elem.tagName.match(/\d/)[0];
                                if (num > lastNum) {
                                    levelArr.push(1);
                                    lastRevNum += 1;
                                } else if (num === lastRevNum ||
                                        num > lastRevNum && num <= lastNum) {
                                    levelArr.push(0);
                                    lastRevNum = lastRevNum;
                                } else if (num < lastRevNum) {
                                    levelArr.push(num - lastRevNum);
                                    lastRevNum = num;
                                }
                                count += levelArr[levelArr.length - 1];
                                lastNum = num;
                                elem.id = elem.id || (id + guid++);
                                titleId.push(elem.id);
                            }
                            if (count !== 0 && levelArr[0] === 1) levelArr[0] = 0;

                            return levelArr;
                        })(article, contentArr, titleId);
                        currentList = root = document.createElement('ul');
                        dirNum = [0];
                        for (i = 0, len = levelArr.length; i < len; i++) {
                            level = levelArr[i];
                            if (level === 1) {
                                list = document.createElement('ul');
                                if (!currentList.lastElementChild) {
                                    currentList.appendChild(document.createElement('li'));
                                }
                                currentList.lastElementChild.appendChild(list);
                                currentList = list;
                                dirNum.push(0);
                            } else if (level < 0) {
                                level *= 2;
                                while (level++) {
                                    if (level % 2) dirNum.pop();
                                    currentList = currentList.parentNode;
                                }
                            }
                            dirNum[dirNum.length - 1]++;
                            li = document.createElement('li');
                            link = document.createElement('a');
                            link.href = '#' + titleId[i];
                            link.innerHTML = !isDirNum ? contentArr[i] :
                            dirNum.join('.') + ' ' + contentArr[i];
                            li.appendChild(link);
                            currentList.appendChild(li);
                        }
                        directory.appendChild(root);
                    };
            createPostDirectory(document.getElementById('post-content'), document.getElementById('directory'), true);
        };
        postDirectoryBuild();
        /*]]>*/
    </script>


<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script>
    /*<![CDATA[*/
    var isOk = true;
    if (isOk) {
        var postDirectory = new Headroom(document.getElementById("directory-content"), {
            tolerance: 0,
            offset: 100,
            classes: {
                initial: "initial",
                pinned: "pinned",
                unpinned: "unpinned"
            }
        });
    }


    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key == 13) {
            var q = $(this).val();
            if (q && q != '') {
                window.location.href = '/search/' + q;
            }
        }
    });
    /*]]>*/
</script>
<script data-no-instant="">
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>
</body>
</html>