<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta name="baidu-site-verification" content="code-L413BKVJUv" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/user/img/logo.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>Java架构师方案—多数据源原理及应用(一)(附完整项目代码) - 微服务与架构师社区</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet"/>
    <link href="/user/css/style.min.css" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
       

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jantent/assets/js/lock.js"></script>
    
    
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/jantent/assets/js/amazeui.min.js"></script>
    <script src="/jantent/assets/js/readmore.js"></script>
    <script src="/jantent/assets/js/readmore.min.js"></script>
    <link rel="stylesheet" href="/jantent/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/jantent/assets/css/app.css"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
        .index-page>div>div{
		  position: relative;
		}
		.settop{
		  position: absolute;
		  right: -16px !important;
		  top: -30px !important;
		}
    </style>
</head>

<script type="text/javascript">

document.write(unescape("%3Cspan id='cnzz_stat_icon_1279171775'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279171775%26online%3D1' type='text/javascript'%3E%3C/script%3E"));
document.getElementById("cnzz_stat_icon_1279171775").style.display="none";//隐藏

</script>

<body  gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" style="background-color: rgba(0,0,0,0.1);" class="header bg-white">
    <div class="navbar-container" >
        <a href="/page/1" class="navbar-logo">微服务与架构师社区</a>


        <div class="navbar-menu" >        

            <a style="color: #fff" href="/archives">归档</a>
            <a style="color: #fff" href="/links">友链</a> 
            <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>-->
            <!--<a  style="color: #fff"  th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/article/about-me'}">
            	关于</a>
            -->
            <a  style="color: #fff"  href="http://bittechblog.com/article/about-me">
            	关于</a>
            
            <!--
            <div class="am-dropdown" data-am-dropdown style="color: #fff">
                <button style="color: #fff"  class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle >Redis<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content ">
                    <li><a href="#" >Redis主从模式</a></li>
                    <li><a href="#" >Redis哨兵模式</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#" >Redis集群模式</a></li>
                </ul>
		    </div>
		    -->
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a style="color: #fff" href="/archives">归档</a></li>
                <li><a style="color: #fff" href="/links">友链</a></li>
                <li>
                <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>
                -->
	                <a  style="color: #fff"  href="http://localhost:8081/article/about-me">
	            	关于</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="background:#87CEFA;color:#FFF;width:100%" class="container" >
            
        <div style="background:#87CEFA;color:#FFF" class="navbar-container" >
        	<nav class="site-header-nav" role="navigation">
        
	        	<div class="navbar-menu" >      
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/"
		                   target="_self"
		                   title="首页">首页
		                </a>
		                
		            </div>
		            
<!-- 		            <div class=" site-header-nav-item hvr-underline-from-center"> -->
<!-- 		                <a href="/article/23" -->
<!-- 		                   target="_self" -->
<!-- 		                   title="新基建与数字化转型">新基建与数字化转型 -->
<!-- 		                </a> -->
<!-- 		            </div> -->
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/1"
		                   target="_self"
		                   title="Java架构师方案宝典">Java架构师方案宝典
		                </a>
		                
		            </div>
		            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/5"
		                   target="_self"
		                   title="Spring Boot">
		                    Spring Boot
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Boot</a></li>
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Cloud</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/tag/2"
		                   target="_self"
		                   title="Java">
		                    Java
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Jvm 系列文章</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Java 极客技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/16"
		                   target=""
		                   title="Redis">
		                    Redis
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Python 教程</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Python 技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/archives"
		                   target="_self"
		                   title="Archives">
		                    Archives
		                </a>
		                
		            </div>
		            	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/index"
		                   target="_self"
		                   title="登录/注册">
		                   	     登录/注册
		                </a>
		                
		            </div>
		           
		        </div>
        	</nav>
        	
		</div>
	</div>
</header>
</body>
</html>
<html lang="en">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #FFFFFF;">        
            <h1>Java架构师方案—多数据源原理及应用(一)(附完整项目代码)</h1>
            <br/>
            <span class="meta-info" style="color: #FFFFFF;" >
                <span class="octicon octicon-calendar"></span> 
            	作者：空白
            	
 				
                	<p><time datetime="2020-08-08" itemprop="datePublished">Time: 2020-08-08</time></p>
            	
            </span>
        </div>
    </div>
</section>
</body>
</html>

<style>

.maskImg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	display: block;
	z-index: 999999999;
	cursor:pointer;
}

.qrcodeMask{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	display: block;
	z-index: 10000000;
	margin-top: 325px;
	background: rgba(0,0,0,.5);
}

.lock {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.asb-post-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10000;
    margin-bottom: 0;
}

.asb-post-01 .mask {
    height: 240px;
    width: 100%;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0)), to(#fff));
}
.asb-post-01 .info {
	background: white;
	height: 510px;
	text-align: center;
}
</style>


<script type="text/javascript">
//DOM 完全就绪时执行
var $article = $("div.post-content");
var $qrcodeMask = $("div.qrcodeMask");
var article = $article[0], height = 0;
var halfHeight = 0;
var token = getToken();

//循环三分钟，如果想要结果可查看
var timesRun = 0;

$(function() {
    // 找到文章所在的容器
    var top = 0;
    var $article = $("div.post-content");
    if ($article.length > 0) {
        // 文章的实际高度
        article = $article[0], height = article.clientHeight;
        console.log(article);
        // 文章隐藏后的高度
        halfHeight = height * 0.5;
        top = halfHeight;
        $article.css('height', halfHeight  + 'px');
        $article.addClass('lock');
    }
    

    var $guanzhu = $("div.asb-post-01");
    $guanzhu.css('top', top + 25 + 'px');//二维码在文章页面的绝对位置 计算值
    
    token = getToken();
    $('span.token').html(token);
    
    refresh();

});


function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2)
        return parts.pop().split(";").shift();
}

function getToken() {
    let value = getCookie('UM_distinctid');
    if (!value) {
        return defaultToken;
    }
    return value.substring(value.length - 6).toUpperCase();
}

var _lock = function() {

	var $article = $("div.post-content");
    $article.css('height', halfHeight  + 'px');
    $article.addClass('lock');
    $('.asb-post-01').css('display', 'block');
}

var _unlock = function() {

	var $article = $("div.post-content");
    $article.css('height', 'initial');
    $article.removeClass('lock');
    $('.asb-post-01').css('display', 'none');
}

// 查询后端的结果
function _detect(){
    console.log('Detecting Token', token);
    $.ajax({
        url : 'http://bittechblog.com/roncopay/wx/check/isSubscribe',
        method : 'POST',
        data : {
            'token' : token
        },
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded', // application/json
        success : function(data) {
            console.log('locked', data.locked);

            if (data.locked === true) {
                _lock();
            } else {
                _unlock();
                timesRun = 9;//停止定时任务
            }
        },
        error : function(data) {
            _unlock();
            timesRun = 9;//停止定时任务
        }
    })
}

function interval(){
  var interval_ = setInterval(function(){
	    timesRun += 1;
	    if(timesRun === 10){    
	        clearInterval(interval_);
	        document.getElementById("qrcodeMask").style.visibility="visible";
	    }
	    _detect();
	    //do whatever here..
	}, 3000);
}
  
//点击刷新
function refresh(){
	timesRun = 0;
	document.getElementById("qrcodeMask").style.visibility="hidden"; 
    interval();
}
    
    
</script>

<body>
<div>
<article class="main-content post-page">
    <div id="post-content"  class="post-content"><ul>
<li>
<p><font size=4><a href="#1"><strong>1. 原生jdbc数据库开发</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#2"><strong>2. 数据源领域模型</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#3"><strong>3. 多数据源组件AbstractRoutingDataSource</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#4"><strong>4. 多数据源下读写分离应用</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#5"><strong>5. 聚合后台项目多数据源应用</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#6"><strong>6. 读写分离和不同业务数据源切换测试</strong></a></font></p>
</li>
</ul>
<p><strong>读完本篇文章你将学到：原生jdbc开发流程，datasource数据源层，多数据源组件原理。以及它们三者之间的关系架构</strong></p>
<p><a name="1"><font  size=4 face="黑体"><strong>1. 原生jdbc数据库开发</strong></font></a></p>
<p>使用原生jdbc来访问数据库的流程为：</p>
<pre><code class="language-js">Class.forName(“com.mysql.jdbc.Driver”);
String url = “jdbc:mysql://hostip:3306/test?user=root&amp;password=123456″;
Connection con = DriverManager.getConnection(url);
Statement statement = con.createStatement();
</code></pre>
<p>在原生的jdbc访问过程中，重要的领域对象包括：Driver ，DriverManager ，Connection ，Statement 等等。</p>
<p>其实主要与数据库交互的是connection对象，连接的创建会向操作系统申请网络连接资源并占用，直到conneciton对象销毁才还给操作系统，因为每次都要申请并释放操作系统资源，所以原生开发在业务繁忙的项目中资源的释放和申请就会非常频繁。</p>
<p>为了避免这种频繁资源申请和释放情况，DataSource层使用连接池方式解决了这个问题。</p>
<p>DataSource领域模型也是建立在这些原生领域对象之上建立的代理层。</p>
<p>原生jdbc访问过程包括：</p>
<ul>
<li>Class.forName加载驱动对象并注册到DriverManager，Driver初始化的静态代码如下</li>
</ul>
<pre><code class="language-js">static {
try {
java.sql.DriverManager.registerDriver(new Driver());
} catch (SQLException E) {
throw new RuntimeException(“Can’t register driver!”);
}
}
</code></pre>
<ul>
<li>DriverManager.getConnection：注册完驱动对象后，随后传入数据库IP地址和登入用户名密码，使用Driver对象创建Connection对象，几段代码如下：</li>
</ul>
<pre><code class="language-js">Connection con = aDriver.driver.connect(url, info);
return (con);
</code></pre>
<ul>
<li>使用connection对象结合statement和preparestatement等方式执行sql</li>
</ul>
<p>分析：我们每次执行sql我们都需要去初始化connection，执行完后又释放连接，这个过程中包括锁的金证以及与远程数据库的交互过程，因此每次connection的建立和释放所需要的成本。因此为了降低连接的建立和释放的消耗，这里就需要datasource领域模型来实现。</p>
<p><a name="2"><font  size=4 face="黑体"><strong>2. 数据源领域模型</strong></font></a></p>
<p>原生jdbc提到的连接重复建立和释放的成本问题，在datasource领域模型中使用了池技术思想，实现了连接的重复使用，避免了每次使用时都重新建立与数据库之间的连接，会产生较大的系统开销。以空间换时间的方式来提高效率。</p>
<p>datasource的主要API如下</p>
<pre><code class="language-js">DataSource只有两个方法（确切的说是一个方法的两个重载版本），用于建立与此 DataSource 对象所表示的数据源的连接。

Connection getConnection()
Connection getConnection(String username, String password)
</code></pre>
<p>在阿里的DruidDataSource实现类中，我们能看到类的connections连接对象容器。</p>
<pre><code class="language-js">// store
private volatile DruidConnectionHolder[] connections;
</code></pre>
<p>connections连接数组结合datasource的池技术机制实现来管理数据源的连接对象。我们也可以把datasource看作业务程序和DriverManager之间的中间层，这个中间层有管理connection对象功能以及实现事务机制。</p>
<p>看下图，清楚DataSource与原生jdbc的关系架构。</p>
<p><img src="/upload/2020/08/s6vj7gbf6kh00q96ddtnqt5t93.jpg" alt="alt" /></p>
<p>从关系图能看出：</p>
<ul>
<li>DataSource是基于jdbc的一层抽象，实现了两个主要功能：维护连接池，实现事务管理。</li>
<li>jdbc才是真正去与数据库打交道的角色，而与用户程序交互的是DataSource代理层。</li>
</ul>
<p><a name="3"><font  size=4 face="黑体"><strong>3. 多数据源组件AbstractRoutingDataSource</strong></font></a>
多数据源按字面理解就是 DataSource有多个，用户程序可以自动选择不同的DataSource来为自己的业务服务。因此。</p>
<ul>
<li>多数据源组件具有维护多个DataSource对象的功能。</li>
<li>而且数据源的切换动作由用户程序触发。</li>
<li>多数据源组件是更高的代理层，直接管理DataSource层。</li>
<li>datasource的连接池维护这数据库连接，多数据源组件的datasource池维护所有datasource。</li>
</ul>
<p>根据Java面向对象的思想，用户程序会觉得多数据源组件AbstractRoutingDataSource就是数据源对象，因为多数据源组件实现了DataSource接口，有数据源接口的两个api方法，如下所示：</p>
<pre><code class="language-js">Connection getConnection() throws SQLException;

Connection getConnection(String username, String password)
  throws SQLException;
</code></pre>
<p>因此，我们可以把多数据源组件看作维护多个数据源的代理层，它们之间的关系如下图所示：</p>
<p><img src="/upload/2020/08/72itjslk7sjm0qc5at3itcpong.jpg" alt="alt" /></p>
<p>从关系图可以看出：</p>
<ul>
<li>多数据源代理是数据源层中所有数据源对象的代理对象</li>
<li>多数据源组件维护一个Map&lt;StringKey,Datasource&gt;数据结构</li>
<li>用户线程通过ThreadLocal来传递变量StringKey信息,指定对应的数据源</li>
<li>用户通过Object determineCurrentLookupKey()方法来指定StringKey</li>
</ul>
<p><a name="4"><font  size=4 face="黑体"><strong>4. 多数据源下读写分离应用</strong></font></a></p>
<p>根据多数据源的关系结构图，可以分析出：只要用户程序根据自己的业务，在执行某项业务时候指定Stringkey,就能做到切换数据源的目的。</p>
<p>因此在读写分离的应用场景中，客户端程序需要识别Mybatis的Dao层执行的方法是读还是写。</p>
<p>Mybatis框架提供了获取方法执行的sql类型的Api</p>
<pre><code class="language-js">SqlCommandType type = sqlSessionFactory.getConfiguration().getMappedStatement(key).getSqlCommandType();
</code></pre>
<p>key的值能通过切面的JoinPoint来获得，这里我不再赘述，大家可以结合项目的RwSeparateDataSourceAspect类代码来看。</p>
<p>这里涉及到Spring容器中的@Aspect切面编程，这里就不对切面开发进行剖析。</p>
<p><a name="5"><font  size=4 face="黑体"><strong>5. 聚合后台项目多数据源应用</strong></font></a></p>
<p>有的公司产品的后台管理项目，如果只是给运营使用的话，一般项目都是一个体量比较大的maven聚合项目，在这样的一个项目中，我们就需要去访问不同的产品的数据库，这里我们就要主动的去动态切换数据源。</p>
<p>这种聚合项目也是要进行切面开发的，不像读写分离场景需要在Dao层进行切面开发，这里是基于业务层面进行切面开发，因此我们切点会放在Controller层或者service层。</p>
<p>总而言之，从多数据源的原理和应用来看，多数据源结合了ThreadLcoal传参+切面编程+池技术等多种技术方案。读写分离场景还结合了Mybatis框架的API技术，来判断sql的类型。</p>
<p>因此多数据源分可以简单拆分成两个阶段：用户程序指定Datasource的key；用户程序根据Key来获取对应的connection对象。</p>
<p><a name="6"><font  size=4 face="黑体"><strong>6. 读写分离和不同业务数据源切换项目测试</strong></font></a></p>
<p><font  size=3> <strong>执行业务时动态切换数据源</strong> </font></p>
<ul>
<li>准备两个数据库myutilproject0和myutilproject1，并创建user表</li>
</ul>
<pre><code class="language-js">create database myutilproject0;
create database myutilproject1;

create table user(
id int(11) not null primary key,
name varchar(100),
gender varchar(10));

</code></pre>
<ul>
<li>分别往两个数据库插入数据，执行DynamicDatasourceMethodApplicationTests测试类</li>
</ul>
<p>测试类执行完成后，两张表中有了数据，分别往两个库插入了数据。</p>
<p><img src="/upload/2020/08/tk59m1fk2ci1sooklpd7ujnv7b.jpg" alt="alt" /></p>
<p>分别插入两个不同库中的表，由下面两个方法完成，不同的业务使用@DBType注解来动态切换数据源</p>
<pre><code class="language-js">    @DBType(DataSourceType.MASTER)
    public void insert2Master(User user){
        userMapper.insertSelective(user);
    }
    
    @DBType(DataSourceType.SLAVE)
    public void insert2Slave(User user){
        userMapper.insertSelective(user);
    }
</code></pre>
<ul>
<li>我在这里埋一个坑</li>
</ul>
<p>看UserService类的几个方法</p>
<ol>
<li>select2查询slave库数据</li>
<li>select1查询master数据并调用select2</li>
<li>select3查询master数据并调用select2</li>
</ol>
<p>执行DynamicDatasourceAnnoApplicationTests测试类，分别运行select1和select3。这两个方法调用了select2，打印结果如下</p>
<pre><code class="language-js">select1
MASTER:11--jackdking-master==male

select2
SLAVE:11--jackdking-master==male

select3
MASTER:11--jackdking-master==male

select2
SLAVE:11--jackdking-slave==male

</code></pre>
<p>你会发现： select1调用select2时候，select2切换数据源失败；但是select3调用select1时候，数据源切换生效了。 这个坑大家自己可以思考下，有疑问可来咨询我！</p>
<p><font  size=3> <strong>读写分离切换数据源</strong> </font></p>
<ul>
<li>打开读写分离开关</li>
</ul>
<p>将RwSeparateDataSourceAspect类中的下的pointcut注释去掉。</p>
<pre><code class="language-js">//    @Pointcut(&quot;execution(* org.jackdking.core.dao.*.*(..))&quot;)
    public void declareJoinPoint(){
    }
</code></pre>
<ul>
<li>运行RwSeparateDataSourceAspect测试类</li>
</ul>
<p>读写方法执行后，你会发现select方法查出从库数据：11--jackdking-slave==male。而主库写入了一条数据。</p>
<p><img src="/upload/2020/08/s282c2f4qcjvmra1g36njbntah.jpg" alt="alt" /></p>
<p>至此，读写分离就实现了，注意在测试数据动态源切换的时候一定要把读写注掉，否则会影响动态切换测试。</p>
<p>到这里，文章就学完了，识别下面小程序码，进入本文的技术知识点做题页面，来看看你能掌握多少，满分10分。</p>
<p><img src="/upload/2020/08/59ksfe6o7ggdeo0mf3bao3rc7b.jpg" alt="alt" /></p>
<p>还要配置状态转移信息以及事件处理器逻辑的开发。完整的demo项目，请关注公众号“前沿科技bot“并发送&quot;数据源切换&quot;获取。</p>
<p><img src="/upload/2020/05/6s8d58g77ehftpcen62h4v4bss.png" alt="alt" /></p>
</div>
    <div id="guanzhu" class= "asb-post-01"  style="display:block">
    		<div class ="mask"></div>
    		<div class="info">
			        <div>扫码或搜索：<span style="color: #E9405A; font-weight: bold;">前沿科技</span></div>
			        <div>
			            <span>发送 </span><span class="token" style="color: #e9415a; font-weight: bold; font-size: 17px; margin-bottom: 45px;">290992</span>
			        </div>
			        <div>
			           	 即可<span style="color: #e9415a; font-weight: bold;">立即永久</span>解锁本站全部文章
			        </div>
				    <div>
				        <img class="code-img" style="width: 300px;display:unset" src="http://bittechblog.com/upload/2020/09/of9o9sfuumiego54aepd7dq05b.jpg">
				        <div class="qrcodeMask" id="qrcodeMask">
							<img src="http://bittechblog.com/upload/2020/11/v1er4cnlt2j5joun03bo53b5vk.png" class="maskImg" onclick="refresh()">
						</div>
				    </div>
				    <div style="height:500px;"></div>
			</div>
    </div>
</article>
</div>
<html lang="en">
<body>
<div>
    <div id="84" class="comment-container">
        <div id="comments" class="clearfix">
            <div>
                <span class="response">
                
            </span>
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" value="84"/>
                    <input type="hidden" name="_csrf_token" value=""/>
                    <input type="text" name="author" maxlength="12" id="author"
                           class="form-control input-control clearfix"
                           placeholder="姓名 (*)"
                    />
                    <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                           placeholder="邮箱 (*)"
                    />
                    <input type="url" name="url" id="url" class="form-control input-control clearfix"
                           placeholder="网址 (http://)"
                    />
                    <textarea name="text" id="textarea" class="form-control" placeholder="以上信息可以为空,评论不能为空哦!"
                              required="required" minlength="5"
                              maxlength="2000"></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            

            <div>
                <ol class="comment-list">
                    
                </ol>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        
                        
                        
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html lang="en">
<body>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
        window.TaleComment = {
            dom: function (id) {
                return document.getElementById(id);
            },
            create: function (tag, attr) {
                var el = document.createElement(tag);
                for (var key in attr) {
                    el.setAttribute(key, attr[key]);
                }
                return el;
            },
            reply: function (coid) {
                $('#comment-form input[name=coid]').val(coid);
                $("html,body").animate({scrollTop: $('div.comment-container').offset().top}, 500);
                $('#comment-form #textarea').focus();
            },
            subComment: function () {
                $.ajax({
                    type: 'post',
                    url: '/comment',
                    data: $('#comment-form').serialize(),
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        $('#comment-form input[name=coid]').val('');
                        if (result && result.success) {
                            alert("评论已提交至后台审核!");
                            window.location.reload();
                        } else {
                            if (result.msg) {
                                alert(result.msg);
                            }
                        }
                    }
                });
                return false;
            }
        };
    })();
    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(decodeURI(arr[2]));
        else
            return null;
    }
    function addCommentInputValue() {
        document.getElementById('author').value = getCommentCookie('tale_remember_author');
        document.getElementById('mail').value = getCommentCookie('tale_remember_mail');
        document.getElementById('url').value = getCommentCookie('tale_remember_url');
    }
    addCommentInputValue();
    /*]]>*/
</script>
</body>
</html>
</html>
<html lang="en">
<body>
<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="/page/1"  style="display: block;margin: 0 auto;" class="info-logo">
                            <img style="display: block;margin: 0 auto;" src="/user/img/logo.png"/>
                        </a>
                        <br/>
                        <p >&copy; Powered by <a style="color: #0e90d2" href="https://github.com/wmsJackWang/JDKBlog" target="_blank"
                                          rel="nofollow">JDKBlog</a>
                        </p>
                        <p> 喜欢就去github上点个star吧 </p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <script>
        /*<![CDATA[*/
        var postDirectoryBuild = function () {
            var postChildren = function children(childNodes, reg) {
                        var result = [],
                                isReg = typeof reg === 'object',
                                isStr = typeof reg === 'string',
                                node, i, len;
                        for (i = 0, len = childNodes.length; i < len; i++) {
                            node = childNodes[i];
                            if ((node.nodeType === 1 || node.nodeType === 9) &&
                                    (!reg ||
                                    isReg && reg.test(node.tagName.toLowerCase()) ||
                                    isStr && node.tagName.toLowerCase() === reg)) {
                                result.push(node);
                            }
                        }
                        return result;
                    },
                    createPostDirectory = function (article, directory, isDirNum) {
                        var contentArr = [],
                                titleId = [],
                                levelArr, root, level,
                                currentList, list, li, link, i, len;
                        levelArr = (function (article, contentArr, titleId) {
                            var titleElem = postChildren(article.childNodes, /^h\d$/),
                                    levelArr = [],
                                    lastNum = 1,
                                    lastRevNum = 1,
                                    count = 0,
                                    guid = 1,
                                    id = 'directory' + (Math.random() + '').replace(/\D/, ''),
                                    lastRevNum, num, elem;
                            while (titleElem.length) {
                                elem = titleElem.shift();
                                contentArr.push(elem.innerHTML);
                                num = +elem.tagName.match(/\d/)[0];
                                if (num > lastNum) {
                                    levelArr.push(1);
                                    lastRevNum += 1;
                                } else if (num === lastRevNum ||
                                        num > lastRevNum && num <= lastNum) {
                                    levelArr.push(0);
                                    lastRevNum = lastRevNum;
                                } else if (num < lastRevNum) {
                                    levelArr.push(num - lastRevNum);
                                    lastRevNum = num;
                                }
                                count += levelArr[levelArr.length - 1];
                                lastNum = num;
                                elem.id = elem.id || (id + guid++);
                                titleId.push(elem.id);
                            }
                            if (count !== 0 && levelArr[0] === 1) levelArr[0] = 0;

                            return levelArr;
                        })(article, contentArr, titleId);
                        currentList = root = document.createElement('ul');
                        dirNum = [0];
                        for (i = 0, len = levelArr.length; i < len; i++) {
                            level = levelArr[i];
                            if (level === 1) {
                                list = document.createElement('ul');
                                if (!currentList.lastElementChild) {
                                    currentList.appendChild(document.createElement('li'));
                                }
                                currentList.lastElementChild.appendChild(list);
                                currentList = list;
                                dirNum.push(0);
                            } else if (level < 0) {
                                level *= 2;
                                while (level++) {
                                    if (level % 2) dirNum.pop();
                                    currentList = currentList.parentNode;
                                }
                            }
                            dirNum[dirNum.length - 1]++;
                            li = document.createElement('li');
                            link = document.createElement('a');
                            link.href = '#' + titleId[i];
                            link.innerHTML = !isDirNum ? contentArr[i] :
                            dirNum.join('.') + ' ' + contentArr[i];
                            li.appendChild(link);
                            currentList.appendChild(li);
                        }
                        directory.appendChild(root);
                    };
            createPostDirectory(document.getElementById('post-content'), document.getElementById('directory'), true);
        };
        postDirectoryBuild();
        /*]]>*/
    </script>


<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script>
    /*<![CDATA[*/
    var isOk = true;
    if (isOk) {
        var postDirectory = new Headroom(document.getElementById("directory-content"), {
            tolerance: 0,
            offset: 100,
            classes: {
                initial: "initial",
                pinned: "pinned",
                unpinned: "unpinned"
            }
        });
    }


    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key == 13) {
            var q = $(this).val();
            if (q && q != '') {
                window.location.href = '/search/' + q;
            }
        }
    });
    /*]]>*/
</script>
<script data-no-instant="">
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>
</body>
</html>