<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta name="baidu-site-verification" content="code-L413BKVJUv" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/user/img/logo.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>Mysql数据分片技术(二)——轻量分库分表框架Sharding-jdbc实例 - 微服务与架构师社区</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet"/>
    <link href="/user/css/style.min.css" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
       

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jantent/assets/js/lock.js"></script>
    
    
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/jantent/assets/js/amazeui.min.js"></script>
    <script src="/jantent/assets/js/readmore.js"></script>
    <script src="/jantent/assets/js/readmore.min.js"></script>
    <link rel="stylesheet" href="/jantent/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/jantent/assets/css/app.css"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
        .index-page>div>div{
		  position: relative;
		}
		.settop{
		  position: absolute;
		  right: -16px !important;
		  top: -30px !important;
		}
    </style>
</head>

<script type="text/javascript">

document.write(unescape("%3Cspan id='cnzz_stat_icon_1279171775'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279171775%26online%3D1' type='text/javascript'%3E%3C/script%3E"));
document.getElementById("cnzz_stat_icon_1279171775").style.display="none";//隐藏

</script>

<body  gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" style="background-color: rgba(0,0,0,0.1);" class="header bg-white">
    <div class="navbar-container" >
        <a href="/page/1" class="navbar-logo">微服务与架构师社区</a>


        <div class="navbar-menu" >        

            <a style="color: #fff" href="/archives">归档</a>
            <a style="color: #fff" href="/links">友链</a> 
            <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>-->
            <!--<a  style="color: #fff"  th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/article/about-me'}">
            	关于</a>
            -->
            <a  style="color: #fff"  href="http://bittechblog.com/article/about-me">
            	关于</a>
            
            <!--
            <div class="am-dropdown" data-am-dropdown style="color: #fff">
                <button style="color: #fff"  class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle >Redis<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content ">
                    <li><a href="#" >Redis主从模式</a></li>
                    <li><a href="#" >Redis哨兵模式</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#" >Redis集群模式</a></li>
                </ul>
		    </div>
		    -->
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a style="color: #fff" href="/archives">归档</a></li>
                <li><a style="color: #fff" href="/links">友链</a></li>
                <li>
                <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>
                -->
	                <a  style="color: #fff"  href="http://localhost:8081/article/about-me">
	            	关于</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="background:#87CEFA;color:#FFF;width:100%" class="container" >
            
        <div style="background:#87CEFA;color:#FFF" class="navbar-container" >
        	<nav class="site-header-nav" role="navigation">
        
	        	<div class="navbar-menu" >      
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/"
		                   target="_self"
		                   title="首页">首页
		                </a>
		                
		            </div>
		            
<!-- 		            <div class=" site-header-nav-item hvr-underline-from-center"> -->
<!-- 		                <a href="/article/23" -->
<!-- 		                   target="_self" -->
<!-- 		                   title="新基建与数字化转型">新基建与数字化转型 -->
<!-- 		                </a> -->
<!-- 		            </div> -->
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/1"
		                   target="_self"
		                   title="Java架构师方案宝典">Java架构师方案宝典
		                </a>
		                
		            </div>
		            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/5"
		                   target="_self"
		                   title="Spring Boot">
		                    Spring Boot
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Boot</a></li>
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Cloud</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/tag/2"
		                   target="_self"
		                   title="Java">
		                    Java
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Jvm 系列文章</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Java 极客技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/16"
		                   target=""
		                   title="Redis">
		                    Redis
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Python 教程</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Python 技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/archives"
		                   target="_self"
		                   title="Archives">
		                    Archives
		                </a>
		                
		            </div>
		            	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/index"
		                   target="_self"
		                   title="登录/注册">
		                   	     登录/注册
		                </a>
		                
		            </div>
		           
		        </div>
        	</nav>
        	
		</div>
	</div>
</header>
</body>
</html>
<html lang="en">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #FFFFFF;">        
            <h1>Mysql数据分片技术(二)——轻量分库分表框架Sharding-jdbc实例</h1>
            <br/>
            <span class="meta-info" style="color: #FFFFFF;" >
                <span class="octicon octicon-calendar"></span> 
            	作者：空白
            	
 				
                	<p><time datetime="2020-04-27" itemprop="datePublished">Time: 2020-04-27</time></p>
            	
            </span>
        </div>
    </div>
</section>
</body>
</html>

<style>

.maskImg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
	display: block;
	z-index: 999999999;
	cursor:pointer;
}

.qrcodeMask{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	display: block;
	z-index: 10000000;
	margin-top: 325px;
	background: rgba(0,0,0,.5);
}

.lock {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;
}

.asb-post-01 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    z-index: 10000;
    margin-bottom: 0;
}

.asb-post-01 .mask {
    height: 240px;
    width: 100%;
    background: -webkit-gradient(linear, 0 top, 0 bottom, from(rgba(255, 255, 255, 0)), to(#fff));
}
.asb-post-01 .info {
	background: white;
	height: 510px;
	text-align: center;
}
</style>


<script type="text/javascript">
//DOM 完全就绪时执行
var $article = $("div.post-content");
var $qrcodeMask = $("div.qrcodeMask");
var article = $article[0], height = 0;
var halfHeight = 0;
var token = getToken();

//循环三分钟，如果想要结果可查看
var timesRun = 0;

$(function() {
    // 找到文章所在的容器
    var top = 0;
    var $article = $("div.post-content");
    if ($article.length > 0) {
        // 文章的实际高度
        article = $article[0], height = article.clientHeight;
        console.log(article);
        // 文章隐藏后的高度
        halfHeight = height * 0.5;
        top = halfHeight;
        $article.css('height', halfHeight  + 'px');
        $article.addClass('lock');
    }
    

    var $guanzhu = $("div.asb-post-01");
    $guanzhu.css('top', top + 25 + 'px');//二维码在文章页面的绝对位置 计算值
    
    token = getToken();
    $('span.token').html(token);
    
    refresh();

});


function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2)
        return parts.pop().split(";").shift();
}

function getToken() {
    let value = getCookie('UM_distinctid');
    if (!value) {
        return defaultToken;
    }
    return value.substring(value.length - 6).toUpperCase();
}

var _lock = function() {

	var $article = $("div.post-content");
    $article.css('height', halfHeight  + 'px');
    $article.addClass('lock');
    $('.asb-post-01').css('display', 'block');
}

var _unlock = function() {

	var $article = $("div.post-content");
    $article.css('height', 'initial');
    $article.removeClass('lock');
    $('.asb-post-01').css('display', 'none');
}

// 查询后端的结果
function _detect(){
    console.log('Detecting Token', token);
    $.ajax({
        url : 'http://bittechblog.com/roncopay/wx/check/isSubscribe',
        method : 'POST',
        data : {
            'token' : token
        },
        dataType: 'json',
        contentType: 'application/x-www-form-urlencoded', // application/json
        success : function(data) {
            console.log('locked', data.locked);

            if (data.locked === true) {
                _lock();
            } else {
                _unlock();
                timesRun = 9;//停止定时任务
            }
        },
        error : function(data) {
            _unlock();
            timesRun = 9;//停止定时任务
        }
    })
}

function interval(){
  var interval_ = setInterval(function(){
	    timesRun += 1;
	    if(timesRun === 10){    
	        clearInterval(interval_);
	        document.getElementById("qrcodeMask").style.visibility="visible";
	    }
	    _detect();
	    //do whatever here..
	}, 3000);
}
  
//点击刷新
function refresh(){
	timesRun = 0;
	document.getElementById("qrcodeMask").style.visibility="hidden"; 
    interval();
}
    
    
</script>

<body>
<div>
<article class="main-content post-page">
    <div id="post-content"  class="post-content"><ul>
<li>
<p><font size=4><a href="#1"><strong>1. 初识shardingJdbc</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#2"><strong>2. sharding-jdbc四种配置方式</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#3"><strong>3. YAML配置方式及mysql环境准备</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#4"><strong>4. sharding-jdbc分库分表实例测试</strong></a></font></p>
</li>
<li>
<p><font size=4><a href="#5"><strong>5. 轻量的sharding-jdbc在我目前工作项目的集成方案</strong></a></font></p>
</li>
</ul>
<p><a name="1"><font  size=4 face="黑体"><strong>1. 初识shardingJdbc</strong></font></a></p>
<p>定位为轻量级Java框架，在Java的JDBC层提供的额外服务。 它使用客户端直连数据库，以jar包形式提供服务，无需额外部署和依赖，可理解为增强版的JDBC驱动，完全兼容JDBC和各种ORM框架。</p>
<p>sharding-jdbc兼容的ORM框架有JPA, Hibernate, Mybatis, Spring JDBC Template，本文的实例项目就是基于mybatis框架的springboot项目。</p>
<p>sharding-jdbc是个轻量的数据库分片框架，分片模块是嵌入在每个应用程序中，属于应用程序的一部分。这种模式适合服务数量小的场景，如果服务数量是万级的集群，那么这种客户端模式的数据分片技术就不适用，而数据库分片代理模式就有明显的优势了。客户端模式如下图：</p>
<p><img src="/upload/2020/04/59lt8pa0vkgucpgve9v6klfgjq.jpg" alt="alt" /></p>
<p><a name="2"><font  size=4 face="黑体"><strong>2. sharding-jdbc四种配置方式</strong></font></a></p>
<p>官方介绍了sharding-jdbc的四种配置方式：Java，YAML，Spring命名空间和Spring Boot Starter等。</p>
<p>我们一般把Java配置方式成为动态配置的方式，这种方式<a href="/article/about-me" target="_blank">空白</a>会在mysql分片技术系列的sharding-jdbc的java方式中详细讲解。</p>
<p>其实springboot的静态配置方式有3种，分别是yaml，springboot  starter以及spring命名空间。本文介绍的是我的一个yaml方式创建的分库分表springboot实例。</p>
<p><font size=3><strong>静态配置方式的缺点。</strong></font><br/>
静态配置的方式最大的不足就是不能动态的修改数据源的配置信息。当我们需要对数据库进行扩容和缩容的时候，我们必须把服务节点宕机停服来修改配置文件信息。即无法支持动态扩容。</p>
<p><a name="3"><font  size=4 face="黑体"><strong>3. YAML配置方式及mysql环境准备</strong></font></a></p>
<p>我的实例项目准备了两个mysql的数据库，每个数据库中有两个订单表TransInfo(TransInfo0和TransInfo1)，两个数据库是myutilproject0和myutilproject1。</p>
<p>数据库创建脚本</p>
<pre><code class="language-js">create database myutilproject0
create database myutilproject1
use myutilproject0
create table TransInfo0( id bigint primary key auto_increment, userid varchar(20) not null, orderid bigint(20)   unsigned NOT NULL );
create table TransInfo1( id bigint primary key auto_increment, userid varchar(20) not null, orderid bigint(20)   unsigned NOT NULL );
use myutilproject1
create table TransInfo0( id bigint primary key auto_increment, userid varchar(20) not null, orderid bigint(20)   unsigned NOT NULL );
create table TransInfo1( id bigint primary key auto_increment, userid varchar(20) not null, orderid bigint(20)   unsigned NOT NULL );
</code></pre>
<p>yaml配置方式</p>
<pre><code class="language-js">#设置内置tomcat的启动端口号
server:
  port: 8080
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.kingspringboot.springboot.myProject.com.bean
#分库分表配置信息
spring:
  profiles:
    active: test-ev,jackdking,testbeanone
  main:
# sharding-jdbc定义了重复的dataSource数据源bean，启动时必须添加以下值
    allow-bean-definition-overriding: true
# sharding-jdbc 分库、分表配置
  shardingsphere:
    datasource:
      names: ds0,ds1
      ds0:
        type: com.alibaba.druid.pool.DruidDataSource

        url: jdbc:mysql://192.168.3.9:3306/myutilproject0?characterEncoding=GBK&amp;useSSL=false
        username: jackdking
        password: ncl@1234
        driver-class-name: com.mysql.jdbc.Driver
      ds1:
        type: com.alibaba.druid.pool.DruidDataSource
        url: jdbc:mysql://192.168.3.9:3306/myutilproject1?characterEncoding=GBK&amp;useSSL=false
        username: jackdking
        password: ncl@1234
        driver-class-name: com.mysql.jdbc.Driver
    sharding:
      tables:
        TransInfo:
          actual-data-nodes: ds$-&gt;{0..1}.TransInfo$-&gt;{0..1}
          table-strategy:
            inline:
              #分片规则对应列，即以user_id值作为分片规则的列
              sharding-column: orderid
              #分片按user_id列和10取模运算，路由到对应的order0...9的表
              algorithm-expression: TransInfo$-&gt;{orderid % 2}
          key-generator:
            column: id
            type: SNOWFLAKE
      default-database-strategy:
        inline:
          sharding-column: id
          algorithm-expression: ds$-&gt;{id % 2}
    props:
      sql.show: true      
</code></pre>
<p>1.首先设置mysql数据源，本项目有两个数据源，分别是ds0和ds1<br/>
2.设置分库策略，sharding-column: id 根据id来进行分库，algorithm-expression: ds$-&gt;{id % 2} 每条数据额id字段对2取模，取模后的数字与ds拼接在一起得到最终的数据源名称。<br/>
3.分表策略：
1） actual-data-nodes: ds$-&gt;{0..1}.TransInfo$-&gt;{0..1} 最终计算得到的最终物理表是 ds[0,1].TransInfo[0,1]<br/>
2） sharding-column: orderid 根据记录的orderid字段来进行分表<br/>
3）  algorithm-expression: TransInfo$-&gt;{orderid % 2} 分表规则是orderid字段对2取模计算得到的余数拼接到TransInfo的后面即为最终的表名。<br/></p>
<p><a name="4"><font  size=4 face="黑体"><strong>4. sharding-jdbc分库分表实例测试</strong></font></a></p>
<p>除了mysql两个数据库和表的准备以及yaml的方式配置sharding-jdbc模块外，我的实例项目还提供了完整的测试代码，包括controller层，service层以及dao层。</p>
<p>controller层代码</p>
<p><img src="/upload/2020/04/490tgdt2o8gkppn8q9lpauaaor.jpg" alt="alt" /></p>
<p>service层代码</p>
<p><img src="/upload/2020/04/6femcmt18cjj6ps2jvc9gnhcld.jpg" alt="alt" /></p>
<p><strong>最重要的是DAO层的配置</strong></p>
<p><img src="/upload/2020/04/0b6fmgn334hunpaj9v8gl8j2nl.jpg" alt="alt" /></p>
<p>1.表名称不是物理表名称TransInfo0和TransInfo1，而是TransInfo。物理名称都会经过分库分表逻辑计算到。</p>
<p>2.插入语句的字段必须要有分库分表逻辑字段，一般这种分段逻辑字段都是不能为空的。</p>
<p><a name="5"><font  size=4 face="黑体"><strong>5. 轻量的sharding-jdbc在我目前工作项目的集成方案</strong></font></a></p>
<p>支付中台系统用户表是一张oracle的单表，使用唯一索引的情况下，查询和更新性能是满足要求的，但是如果是高并发的情况，性能是完全不符合要求的，这时候大表性能就非常差了。</p>
<p>因此账户表这张大表就需要进行分库分表，而且每笔支付请求都要去查询校验账户的信息，因此账户表的访问量跟交易量是正相关的。一张大的单表在高并发场景下首先考虑的就是要分库分表，把访问压力拆分到不同的磁盘和数据库服务器。</p>
<p>目前订单交易表是经过了分表处理的，总共8张表，每张表也做了分区处理，按订单创建时间月份分区，但是交易表使用的还是oracle数据库。目前互联网公司分库分表的解决方案都倾向于使用mysql数据库。</p>
<p>8张表存放的是交易数据，这8张表只用于支付订单业务。对账，财务业务是不使用这8张交易表的，因为对账，财务业务等一些其他的支付交易之外的业务使用的是一张独立的订单数据表，这张表是一张进行分区的大表，主要用来给对账，财务等业务提供复杂的数据库操作，这些是分表的交易表无法提供的。对于订单数据的BI业务，我们还有另外一张查询表，同样这张表也存放一份交易数据，用于数据的操作。</p>
<p>用于业务处理的订单表和BI数据分析的订单表的数据都是和8张交易表中的数据是一样的。数据同步是以消息队列方式来处理的：交易表数据入库后，会发送数据的插入消息放到消息队列，消费端会将数据入库两张单表中。</p>
<p>通过冗余订单数据，创建多分订单表数据，将非核心业务与核心交易隔离开来。
<img src="/upload/2020/04/tnjc58dlqugvgrl9pcdib58cgp.jpg" alt="alt" /></p>
<p><strong>对于这样的数据库设计架构，我这把可以很方便的将交易表数据迁移到mysql数据库。</strong></p>
<p><strong>除了对交易表的数据迁移之外，现在消息队列目前还只是使用redis的list数据结构，不能保证消息的高可用和数据的表之间的数据一致性以及消息的不丢失。</strong></p>
<p><font size=5><strong>关注共图社，有更多惊喜。</strong></font></p>
<hr />
<p>还要配置状态转移信息以及事件处理器逻辑的开发。完整的demo项目，请关注公众号“前沿科技bot“并发送&quot;分库分表&quot;获取。</p>
<p><img src="/upload/2020/05/6s8d58g77ehftpcen62h4v4bss.png" alt="alt" /></p>
</div>
    <div id="guanzhu" class= "asb-post-01"  style="display:block">
    		<div class ="mask"></div>
    		<div class="info">
			        <div>扫码或搜索：<span style="color: #E9405A; font-weight: bold;">前沿科技</span></div>
			        <div>
			            <span>发送 </span><span class="token" style="color: #e9415a; font-weight: bold; font-size: 17px; margin-bottom: 45px;">290992</span>
			        </div>
			        <div>
			           	 即可<span style="color: #e9415a; font-weight: bold;">立即永久</span>解锁本站全部文章
			        </div>
				    <div>
				        <img class="code-img" style="width: 300px;display:unset" src="http://bittechblog.com/upload/2020/09/of9o9sfuumiego54aepd7dq05b.jpg">
				        <div class="qrcodeMask" id="qrcodeMask">
							<img src="http://bittechblog.com/upload/2020/11/v1er4cnlt2j5joun03bo53b5vk.png" class="maskImg" onclick="refresh()">
						</div>
				    </div>
				    <div style="height:500px;"></div>
			</div>
    </div>
</article>
</div>
<html lang="en">
<body>
<div>
    <div id="21" class="comment-container">
        <div id="comments" class="clearfix">
            <div>
                <span class="response">
                
            </span>
                <form method="post" id="comment-form" class="comment-form" role="form"
                      onsubmit="return TaleComment.subComment();">
                    <input type="hidden" name="coid" id="coid"/>
                    <input type="hidden" name="cid" id="cid" value="21"/>
                    <input type="hidden" name="_csrf_token" value=""/>
                    <input type="text" name="author" maxlength="12" id="author"
                           class="form-control input-control clearfix"
                           placeholder="姓名 (*)"
                    />
                    <input type="email" name="mail" id="mail" class="form-control input-control clearfix"
                           placeholder="邮箱 (*)"
                    />
                    <input type="url" name="url" id="url" class="form-control input-control clearfix"
                           placeholder="网址 (http://)"
                    />
                    <textarea name="text" id="textarea" class="form-control" placeholder="以上信息可以为空,评论不能为空哦!"
                              required="required" minlength="5"
                              maxlength="2000"></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>
            

            <div>
                <ol class="comment-list">
                    
                </ol>
                <div class="lists-navigator clearfix">
                    <ol class="page-navigator">
                        
                        
                        
                    </ol>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html lang="en">
<body>
<script type="text/javascript">
    /*<![CDATA[*/
    (function () {
        window.TaleComment = {
            dom: function (id) {
                return document.getElementById(id);
            },
            create: function (tag, attr) {
                var el = document.createElement(tag);
                for (var key in attr) {
                    el.setAttribute(key, attr[key]);
                }
                return el;
            },
            reply: function (coid) {
                $('#comment-form input[name=coid]').val(coid);
                $("html,body").animate({scrollTop: $('div.comment-container').offset().top}, 500);
                $('#comment-form #textarea').focus();
            },
            subComment: function () {
                $.ajax({
                    type: 'post',
                    url: '/comment',
                    data: $('#comment-form').serialize(),
                    async: false,
                    dataType: 'json',
                    success: function (result) {
                        $('#comment-form input[name=coid]').val('');
                        if (result && result.success) {
                            alert("评论已提交至后台审核!");
                            window.location.reload();
                        } else {
                            if (result.msg) {
                                alert(result.msg);
                            }
                        }
                    }
                });
                return false;
            }
        };
    })();
    function getCommentCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(decodeURI(arr[2]));
        else
            return null;
    }
    function addCommentInputValue() {
        document.getElementById('author').value = getCommentCookie('tale_remember_author');
        document.getElementById('mail').value = getCommentCookie('tale_remember_mail');
        document.getElementById('url').value = getCommentCookie('tale_remember_url');
    }
    addCommentInputValue();
    /*]]>*/
</script>
</body>
</html>
</html>
<html lang="en">
<body>
<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="/page/1"  style="display: block;margin: 0 auto;" class="info-logo">
                            <img style="display: block;margin: 0 auto;" src="/user/img/logo.png"/>
                        </a>
                        <br/>
                        <p >&copy; Powered by <a style="color: #0e90d2" href="https://github.com/wmsJackWang/JDKBlog" target="_blank"
                                          rel="nofollow">JDKBlog</a>
                        </p>
                        <p> 喜欢就去github上点个star吧 </p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>


    <div id="directory-content" class="directory-content">
        <div id="directory"></div>
    </div>
    <script>
        /*<![CDATA[*/
        var postDirectoryBuild = function () {
            var postChildren = function children(childNodes, reg) {
                        var result = [],
                                isReg = typeof reg === 'object',
                                isStr = typeof reg === 'string',
                                node, i, len;
                        for (i = 0, len = childNodes.length; i < len; i++) {
                            node = childNodes[i];
                            if ((node.nodeType === 1 || node.nodeType === 9) &&
                                    (!reg ||
                                    isReg && reg.test(node.tagName.toLowerCase()) ||
                                    isStr && node.tagName.toLowerCase() === reg)) {
                                result.push(node);
                            }
                        }
                        return result;
                    },
                    createPostDirectory = function (article, directory, isDirNum) {
                        var contentArr = [],
                                titleId = [],
                                levelArr, root, level,
                                currentList, list, li, link, i, len;
                        levelArr = (function (article, contentArr, titleId) {
                            var titleElem = postChildren(article.childNodes, /^h\d$/),
                                    levelArr = [],
                                    lastNum = 1,
                                    lastRevNum = 1,
                                    count = 0,
                                    guid = 1,
                                    id = 'directory' + (Math.random() + '').replace(/\D/, ''),
                                    lastRevNum, num, elem;
                            while (titleElem.length) {
                                elem = titleElem.shift();
                                contentArr.push(elem.innerHTML);
                                num = +elem.tagName.match(/\d/)[0];
                                if (num > lastNum) {
                                    levelArr.push(1);
                                    lastRevNum += 1;
                                } else if (num === lastRevNum ||
                                        num > lastRevNum && num <= lastNum) {
                                    levelArr.push(0);
                                    lastRevNum = lastRevNum;
                                } else if (num < lastRevNum) {
                                    levelArr.push(num - lastRevNum);
                                    lastRevNum = num;
                                }
                                count += levelArr[levelArr.length - 1];
                                lastNum = num;
                                elem.id = elem.id || (id + guid++);
                                titleId.push(elem.id);
                            }
                            if (count !== 0 && levelArr[0] === 1) levelArr[0] = 0;

                            return levelArr;
                        })(article, contentArr, titleId);
                        currentList = root = document.createElement('ul');
                        dirNum = [0];
                        for (i = 0, len = levelArr.length; i < len; i++) {
                            level = levelArr[i];
                            if (level === 1) {
                                list = document.createElement('ul');
                                if (!currentList.lastElementChild) {
                                    currentList.appendChild(document.createElement('li'));
                                }
                                currentList.lastElementChild.appendChild(list);
                                currentList = list;
                                dirNum.push(0);
                            } else if (level < 0) {
                                level *= 2;
                                while (level++) {
                                    if (level % 2) dirNum.pop();
                                    currentList = currentList.parentNode;
                                }
                            }
                            dirNum[dirNum.length - 1]++;
                            li = document.createElement('li');
                            link = document.createElement('a');
                            link.href = '#' + titleId[i];
                            link.innerHTML = !isDirNum ? contentArr[i] :
                            dirNum.join('.') + ' ' + contentArr[i];
                            li.appendChild(link);
                            currentList.appendChild(li);
                        }
                        directory.appendChild(root);
                    };
            createPostDirectory(document.getElementById('post-content'), document.getElementById('directory'), true);
        };
        postDirectoryBuild();
        /*]]>*/
    </script>


<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script>
    /*<![CDATA[*/
    var isOk = true;
    if (isOk) {
        var postDirectory = new Headroom(document.getElementById("directory-content"), {
            tolerance: 0,
            offset: 100,
            classes: {
                initial: "initial",
                pinned: "pinned",
                unpinned: "unpinned"
            }
        });
    }


    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key == 13) {
            var q = $(this).val();
            if (q && q != '') {
                window.location.href = '/search/' + q;
            }
        }
    });
    /*]]>*/
</script>
<script data-no-instant="">
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>
</body>
</html>