<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta name="baidu-site-verification" content="code-L413BKVJUv" />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/user/img/logo.png"/>
    <link rel="apple-touch-icon" href="/user/img/apple-touch-icon.png"/>
    <title>文章归档 - 微服务与架构师社区</title>
    <link href="//cdn.bootcss.com/highlight.js/9.9.0/styles/xcode.min.css" rel="stylesheet"/>
    <link href="/user/css/style.min.css" rel="stylesheet"/>
    
    <!-- Third-Party CSS -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" th:href="@{/jantent/assets/css/octicons/octicons.css}"> -->
    <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
    <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
    <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">
       

    <!-- My CSS -->
    <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

    <!-- CSS set in page -->
    
    <link rel="stylesheet" href="http://favorites.ren/assets/css/blog-page.css">
    
    
    <!-- CSS set in layout -->
    

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
    <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="http://favorites.ren/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jantent/assets/js/lock.js"></script>
    
    
    <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
    <script src="/jantent/assets/js/amazeui.min.js"></script>
    <script src="/jantent/assets/js/readmore.js"></script>
    <script src="/jantent/assets/js/readmore.min.js"></script>
    <link rel="stylesheet" href="/jantent/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/jantent/assets/css/app.css"/>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        /*让每一个下拉按钮占据的宽度与居中*/
        .am-dropdown{
            width:25%;
            text-align:center;
        }
        .index-page>div>div{
		  position: relative;
		}
		.settop{
		  position: absolute;
		  right: -16px !important;
		  top: -30px !important;
		}
    </style>
</head>

<script type="text/javascript">

document.write(unescape("%3Cspan id='cnzz_stat_icon_1279171775'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279171775%26online%3D1' type='text/javascript'%3E%3C/script%3E"));
document.getElementById("cnzz_stat_icon_1279171775").style.display="none";//隐藏

</script>

<body  gtools_scp_screen_capture_injected="true" class="bg-
">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<header id="header" style="background-color: rgba(0,0,0,0.1);" class="header bg-white">
    <div class="navbar-container" >
        <a href="/page/1" class="navbar-logo">微服务与架构师社区</a>


        <div class="navbar-menu" >        

            <a style="color: #fff" href="/archives">归档</a>
            <a style="color: #fff" href="/links">友链</a> 
            <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>-->
            <!--<a  style="color: #fff"  th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/article/about-me'}">
            	关于</a>
            -->
            <a  style="color: #fff"  href="http://bittechblog.com/article/about-me">
            	关于</a>
            
            <!--
            <div class="am-dropdown" data-am-dropdown style="color: #fff">
                <button style="color: #fff"  class="am-btn am-btn-primary am-dropdown-toggle" data-am-dropdown-toggle >Redis<span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content ">
                    <li><a href="#" >Redis主从模式</a></li>
                    <li><a href="#" >Redis哨兵模式</a></li>
                    <li class="am-divider"></li>
                    <li><a href="#" >Redis集群模式</a></li>
                </ul>
		    </div>
		    -->
        </div>
        <div class="navbar-search" onclick="">
            <span class="icon-search"></span>
            <form role="search" onsubmit="return false;">
                <span class="search-box">
                    <input type="text" id="search-inp" class="input" placeholder="搜索..." maxlength="30"
                           autocomplete="off"/>
                </span>
            </form>
        </div>
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul>
                <li><a style="color: #fff" href="/archives">归档</a></li>
                <li><a style="color: #fff" href="/links">友链</a></li>
                <li>
                <!--<a style="color: #fff" th:href="${commons.site_url('/about')}">关于</a>
                -->
	                <a  style="color: #fff"  href="http://localhost:8081/article/about-me">
	            	关于</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div style="background:#87CEFA;color:#FFF;width:100%" class="container" >
            
        <div style="background:#87CEFA;color:#FFF" class="navbar-container" >
        	<nav class="site-header-nav" role="navigation">
        
	        	<div class="navbar-menu" >      
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/"
		                   target="_self"
		                   title="首页">首页
		                </a>
		                
		            </div>
		            
<!-- 		            <div class=" site-header-nav-item hvr-underline-from-center"> -->
<!-- 		                <a href="/article/23" -->
<!-- 		                   target="_self" -->
<!-- 		                   title="新基建与数字化转型">新基建与数字化转型 -->
<!-- 		                </a> -->
<!-- 		            </div> -->
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/1"
		                   target="_self"
		                   title="Java架构师方案宝典">Java架构师方案宝典
		                </a>
		                
		            </div>
		            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/5"
		                   target="_self"
		                   title="Spring Boot">
		                    Spring Boot
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Boot</a></li>
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Spring Cloud</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/tag/2"
		                   target="_self"
		                   title="Java">
		                    Java
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Jvm 系列文章</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Java 极客技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="http://bittechblog.com/blog/type/16"
		                   target=""
		                   title="Redis">
		                    Redis
		                </a>
		                
		                <ul class="submenu">
		                    
		                    <li><a href="/" 
		                           target=""
		                     >Python 教程</a></li>
		                    
		                    <li><a href="" 
		                           target="_blank"
		                     >Python 技术</a></li>
		                    
		                </ul>
		                
		            </div>
	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/archives"
		                   target="_self"
		                   title="Archives">
		                    Archives
		                </a>
		                
		            </div>
		            	            
		            <div class=" site-header-nav-item hvr-underline-from-center">
		                <a href="/index"
		                   target="_self"
		                   title="登录/注册">
		                   	     登录/注册
		                </a>
		                
		            </div>
		           
		        </div>
        	</nav>
        	
		</div>
	</div>
</header>
</body>
</html>
<html lang="en">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #FFFFFF;">        
            <h1>All Article</h1>
            <br/>
            <span class="meta-info" style="color: #FFFFFF;" >
                <span class="octicon octicon-calendar"></span> 
            	Author: 空白
            	
 				
            </span>
        </div>
    </div>
</section>
</body>
</html>
<body>
<div class="main-content archive-page clearfix">
    <div class="am-u-sm-30">
        
            <ul>
                <h2>2020年11月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-11-22
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/127">大型网站架构师方案—屌爆了！这种优化方案让我网站响应速度提高了近80倍</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-11-09
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/122">Java架构师方案——Spring Security（一）快速入门</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年10月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-31
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/116">Spring Security——模拟Spring Security，我徒手写了一个简单的安全框架</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-20
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/115">SpringBoot学习示例—全面解析RedisTemplate配置及序列化、与StringRedisTemplate序列化区别(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-20
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/114">SpringBoot学习示例—Redis多个实例简单的手动配置之整合Lettuce池(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-18
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/107">SpringBoot学习示例—整合Redis之StringRedisTemplate、乐观锁、事务(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-14
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/106">Java架构师方案—基于JWT的Token认证(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-14
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/105">你知道JDK的延迟队列吗？</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-13
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/cluster-session-redis">Java架构师方案—分布式session基于redis的共享机制(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-10-13
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/103">Gitee标星16K的RuoYi告诉你：还在写CRUD代码的程序员注定淘汰的!</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年09月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-09-30
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/102">SprinBoot——WebMvcConfigurer的excludePathPatterns配置 &quot;失效&quot; 问题</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-09-15
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/multiple-datasource">Java架构师方案—多数据源开发详解及原理(二)(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年08月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-08-12
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/nginx-redirect">Nginx反向代理配置</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-08-12
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/Nginx-build">Nginx在centos7环境下快速部署</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-08-08
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/multidatasource">Java架构师方案—多数据源原理及应用(一)(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年07月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-07-14
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/mybatis-ques">springboot在默认的mybatis配置之外添加其他数据源和dao层</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-07-11
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/Atomikos">Java架构师方案—分布式事务2PC方案Atomikos(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年05月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-30
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/springboot-javamail">SpringBoot系列—简单的邮件系统(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-27
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/distribution-lock">复习——分布式锁</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-26
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/springboot-retry">Java架构师方案—重试机制原理和应用，还有比这个讲的更好的吗(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-24
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/gongtushe-group">扫码进入技术群</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-24
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/jdkblog-question-1">JDKBlog问题系列—博客系统接入API网关登入超时跳转的地址不是API网关地址而是真实IP</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-23
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/github-projects">github好的项目收集</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-22
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/springboot-statemachine1">Java架构师方案—透彻理解「状态机」的全套机制 (附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-17
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/springboot-statemachine">Java架构师方案—状态机(附完整项目代码)</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-05-16
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/github-project-rank">Github项目排行榜</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年04月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-04-30
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/23">新基建与数字化转型——开放平台开源框架</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-04-27
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/mysql-data-sharding002">Mysql数据分片技术(二)——轻量分库分表框架Sharding-jdbc实例</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-04-13
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/mysql-data-sharding001">Mysql数据分片技术(一)——初识表分区</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年03月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-03-30
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/redis-cluster-model">Redis (四) —— 易伸缩，高可用的集群模式架构</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-03-26
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/redis-sentinel-kore-1">Redis哨兵模式  —— 实现原理（上）</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-03-25
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/redis-sentinel-model">Redis (三) —— 高可用的哨兵模式架构</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-03-22
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/redis-master-slave-model">Redis (二) —— 高性能的主从模式架构</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年02月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-02-28
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/jedis-lua-1">Jedis与lua脚本——lua脚本在redis中的使用</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-02-25
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/threadlocal-two">ThreadLocal专题（二）— 数据仓库机制</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-02-25
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/ThreadLocal-one">ThreadLocal专题(一) -----告诉你我为什么是个打工仔？</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-02-12
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/work-problem001">工作中的巨坑——高并发红包系统居然不到100TPS！！！</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2020年01月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2020-01-13
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/springboot-pro-1">springboot问题系列——jsp在linux上无法访问</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2019年12月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2019-12-12
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/about-me">About Me</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
            <ul>
                <h2>2019年11月</h2>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2019-11-27
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/controller-pro-reslove-2">Contoller层问题及解决方案——重定向原理以及前后端重定向方式测试（提供测试demo）</a>
                            </span>
                        </li>
                        <br/>
                    
                        <li>
                            <span class="am-u-sm-2 am-u-md-2 timeline-span">
                                2019-11-27
                            </span>
                            <span class="am-u-sm-12 am-u-md-8" style="display:inline-block;font-size:22px;width:600px ">
                                <a href="/article/controller-pro-reslove-1">Contoller层问题及解决方案——从URL路径中获取到参数值（提供测试demo）</a>
                            </span>
                        </li>
                        <br/>
                    
            </ul>
        
    </div>
</div>
</div>
</body>
<html lang="en">
<body>
<footer class="footer bg-white">
    <div class="footer-social">
        <div class="footer-container clearfix">
            <div class="social-list">
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <div class="info-text">
                        <a href="/page/1"  style="display: block;margin: 0 auto;" class="info-logo">
                            <img style="display: block;margin: 0 auto;" src="/user/img/logo.png"/>
                        </a>
                        <br/>
                        <p >&copy; Powered by <a style="color: #0e90d2" href="https://github.com/wmsJackWang/JDKBlog" target="_blank"
                                          rel="nofollow">JDKBlog</a>
                        </p>
                        <p> 喜欢就去github上点个star吧 </p>
                        <br/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>



<script src="//cdn.bootcss.com/headroom/0.9.1/headroom.min.js"></script>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdn.bootcss.com/instantclick/3.0.1/instantclick.min.js"></script>
<script>
    /*<![CDATA[*/
    var isOk = null;
    if (isOk) {
        var postDirectory = new Headroom(document.getElementById("directory-content"), {
            tolerance: 0,
            offset: 100,
            classes: {
                initial: "initial",
                pinned: "pinned",
                unpinned: "unpinned"
            }
        });
    }


    var header = new Headroom(document.getElementById("header"), {
        tolerance: 10,
        offset: 80,
        classes: {
            initial: "animated",
            pinned: "slideDown",
            unpinned: "slideUp"
        }
    });
    header.init();
    $('#search-inp').keypress(function (e) {
        var key = e.which; //e.which是按键的值
        if (key == 13) {
            var q = $(this).val();
            if (q && q != '') {
                window.location.href = '/search/' + q;
            }
        }
    });
    /*]]>*/
</script>
<script data-no-instant="">
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
        }
    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>
</html>