<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="section(title,time,auth)">
<head>
<style type="text/css">
		.intro {
				background: url(http://bittechblog.com/upload/2020/09/q8k9tdeo4eht1parhc0vgm4mlp.jpg) no-repeat center 0 ; 
				background-size: 100% 100% ;
				}
</style>
</head>
<body>
<section class="jumbotron intro" data-pattern-id="本站 所有文章">
    <div class="container" >
        <div id="jumbotron-meta-info" style="color: #AD60EE;">        
            <h1><th:block th:text="${title ?: 'All Article'}"></th:block></h1>
            <br/>
            <span class="meta-info" >
                <span class="octicon octicon-calendar"></span> 
            	<th:block th:text="${auth ?: 'Author: 空白'}"></th:block>
            	
 				<th:block th:if='${time!=null}'>
                	<p><time th:datetime="${commons.fmtdate(time)}" itemprop="datePublished" th:text="'Time: '+ ${commons.fmtdate(time)}"></time></p>
            	</th:block>
            </span>
        </div>
    </div>
</section>
</body>
</html>